@page "/invoicedisplay"
@inject NavigationManager NavigationManager
@using Microsoft.AspNetCore.WebUtilities
@using System.Web
@using System.Text.Json
@using System.Text
@using VehicleManagement.ApiService
@using VehicleManagement.Models.General
@using VehicleManagement.Pages.Redirects
@inject IToastService toastService
@inject IApiService API
<AuthorizeView>
    <Authorized>
        <Nav PageName="Invoice Display" />
        @if (Invoices != null)
        {


            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12" style="text-align:center;">
                                        <label for="example-text-input" class="form-control-label" style="font-weight:bolder;font-size:larger;">
                                            General Details
                                        </label>
                                    </div>
                                    <div class="col-md-6">

                                        <label for="example-text-input" class="form-control-label">
                                            Tank Lorry No :
                                        </label>
                                        <label for="example-text-input" class="form-control-label" style="color:#3f55d1">@Invoices.Details.TankLorryNO</label>

                                    </div>
                                    <div class="col-md-6">

                                        <label for="example-text-input" class="form-control-label">
                                            STO No :
                                        </label>
                                        <label for="example-text-input" class="form-control-label" style="color:#3f55d1">@Invoices.Details.STONo</label>

                                    </div>
                                    <div class="col-md-6">

                                        <label for="example-text-input" class="form-control-label">
                                            Date :
                                        </label>
                                        <label for="example-text-input" class="form-control-label" style="color:#3f55d1">@Invoices.Details.Date.ToString("yyyy-MM-dd")</label>

                                    </div>
                                    <div class="col-md-6">

                                        <label for="example-text-input" class="form-control-label">
                                            Shipping Location :
                                        </label>
                                        <label for="example-text-input" class="form-control-label" style="color:#3f55d1">@Invoices.Details.SupplyPoint</label>

                                    </div>
                                    <div class="col-md-6">

                                        <label for="example-text-input" class="form-control-label">
                                            Receiving Location :
                                        </label>
                                        <label for="example-text-input" class="form-control-label" style="color:#3f55d1">@Invoices.Details.ReceivingLocation</label>

                                    </div>
                                    <div class="col-md-6">
                                        <label for="example-text-input" class="form-control-label">
                                            Product :
                                        </label>
                                        <label for="example-text-input" class="form-control-label" style="color:#3f55d1">@Invoices.Details.Product</label>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="example-text-input" class="form-control-label">
                                            Contractor :
                                        </label>
                                        <label for="example-text-input" class="form-control-label" style="color:#3f55d1">@Invoices.Details.Contractor</label>
                                    </div>






                                    <div class="col-md-12" style="text-align:center;padding-top:10px;">
                                        <label for="example-text-input" class="form-control-label" style="font-weight:bolder;font-size:larger;">
                                            Shipping Details
                                        </label>
                                    </div>

                                    @if (Invoices.ShippingDetail.Chamber1.ChamberQuantity != 0)
                                    {


                                        <div class="col-md-6 form-control" style="margin-top: 7px;">
                                            <div class="row">


                                                <div class="col-md-12">
                                                    <label for="example-text-input" class="form-control-label" style="font-weight:bolder;font-size:medium;color:#3f55d1;">
                                                        Chamber 1
                                                    </label>
                                                </div>
                                                <div class="col-md-6">

                                                    <label for="example-text-input" class="form-control-label">
                                                        Chamber Quantity :

                                                    </label>
                                                    <label for="example-text-input" class="form-control-label" style="color:#3f55d1">@Invoices.ShippingDetail.Chamber1.ChamberQuantity</label>


                                                </div>
                                                <div class="col-md-6">
                                                    <label for="example-text-input" class="form-control-label">
                                                        Tank Lorry Product Dips(MM) :
                                                    </label>
                                                    <label for="example-text-input" class="form-control-label" style="color:#3f55d1">@Invoices.ShippingDetail.Chamber1.LorryDip</label>
                                                </div>
                                                <div class="col-md-6">
                                                    <label for="example-text-input" class="form-control-label">
                                                        Quantity 85F :
                                                    </label>
                                                    <label for="example-text-input" class="form-control-label" style="color:#3f55d1">@Invoices.ShippingDetail.Chamber1.Quantity</label>
                                                </div>
                                            </div>
                                        </div>

                                    }

                                    @if (Invoices.ShippingDetail.Chamber2.ChamberQuantity != 0)
                                    {


                                        <div class="col-md-12 form-control" style="margin-top: 7px;">
                                            <div class="row">


                                                <div class="col-md-12">
                                                    <label for="example-text-input" class="form-control-label" style="font-weight:bolder;font-size:medium;color:#3f55d1;">
                                                        Chamber 2
                                                    </label>
                                                </div>
                                                <div class="col-md-6">

                                                    <label for="example-text-input" class="form-control-label">
                                                        Chamber Quantity :

                                                    </label>
                                                    <label for="example-text-input" class="form-control-label" style="color:#3f55d1">@Invoices.ShippingDetail.Chamber2.ChamberQuantity</label>


                                                </div>
                                                <div class="col-md-6">
                                                    <label for="example-text-input" class="form-control-label">
                                                        Tank Lorry Product Dips(MM) :
                                                    </label>
                                                    <label for="example-text-input" class="form-control-label" style="color:#3f55d1">@Invoices.ShippingDetail.Chamber2.LorryDip</label>
                                                </div>
                                                <div class="col-md-6">
                                                    <label for="example-text-input" class="form-control-label">
                                                        Quantity 85F :
                                                    </label>
                                                    <label for="example-text-input" class="form-control-label" style="color:#3f55d1">@Invoices.ShippingDetail.Chamber2.Quantity</label>
                                                </div>
                                            </div>
                                        </div>


                                    }
                                    @if (Invoices.ShippingDetail.Chamber3.ChamberQuantity != 0)
                                    {


                                        <div class="col-md-12 form-control" style="margin-top: 7px;">
                                            <div class="row">


                                                <div class="col-md-12">
                                                    <label for="example-text-input" class="form-control-label" style="font-weight:bolder;font-size:medium;color:#3f55d1;">
                                                        Chamber 3
                                                    </label>
                                                </div>
                                                <div class="col-md-6">

                                                    <label for="example-text-input" class="form-control-label">
                                                        Chamber Quantity :

                                                    </label>
                                                    <label for="example-text-input" class="form-control-label" style="color:#3f55d1">@Invoices.ShippingDetail.Chamber3.ChamberQuantity</label>


                                                </div>
                                                <div class="col-md-6">
                                                    <label for="example-text-input" class="form-control-label">
                                                        Tank Lorry Product Dips(MM) :
                                                    </label>
                                                    <label for="example-text-input" class="form-control-label" style="color:#3f55d1">@Invoices.ShippingDetail.Chamber3.LorryDip</label>
                                                </div>
                                                <div class="col-md-6">
                                                    <label for="example-text-input" class="form-control-label">
                                                        Quantity 85F :
                                                    </label>
                                                    <label for="example-text-input" class="form-control-label" style="color:#3f55d1">@Invoices.ShippingDetail.Chamber3.Quantity</label>
                                                </div>
                                            </div>
                                        </div>

                                    }
                                    @if (Invoices.ShippingDetail.Chamber4.ChamberQuantity != 0)
                                    {


                                        <div class="col-md-12 form-control" style="margin-top: 7px;">
                                            <div class="row">


                                                <div class="col-md-12">
                                                    <label for="example-text-input" class="form-control-label" style="font-weight:bolder;font-size:medium;color:#3f55d1;">
                                                        Chamber 4
                                                    </label>
                                                </div>
                                                <div class="col-md-6">

                                                    <label for="example-text-input" class="form-control-label">
                                                        Chamber Quantity :

                                                    </label>
                                                    <label for="example-text-input" class="form-control-label" style="color:#3f55d1">@Invoices.ShippingDetail.Chamber4.ChamberQuantity</label>


                                                </div>
                                                <div class="col-md-6">
                                                    <label for="example-text-input" class="form-control-label">
                                                        Tank Lorry Product Dips(MM) :
                                                    </label>
                                                    <label for="example-text-input" class="form-control-label" style="color:#3f55d1">@Invoices.ShippingDetail.Chamber4.LorryDip</label>
                                                </div>
                                                <div class="col-md-6">
                                                    <label for="example-text-input" class="form-control-label">
                                                        Quantity 85F :
                                                    </label>
                                                    <label for="example-text-input" class="form-control-label" style="color:#3f55d1">@Invoices.ShippingDetail.Chamber4.Quantity</label>
                                                </div>
                                            </div>
                                        </div>


                                    }
                                    @if (Invoices.ShippingDetail.Chamber5.ChamberQuantity != 0)
                                    {


                                        <div class="col-md-12 form-control" style="margin-top: 7px;">
                                            <div class="row">


                                                <div class="col-md-12">
                                                    <label for="example-text-input" class="form-control-label" style="font-weight:bolder;font-size:medium;color:#3f55d1;">
                                                        Chamber 5
                                                    </label>
                                                </div>
                                                <div class="col-md-6">

                                                    <label for="example-text-input" class="form-control-label">
                                                        Chamber Quantity :

                                                    </label>
                                                    <label for="example-text-input" class="form-control-label" style="color:#3f55d1">@Invoices.ShippingDetail.Chamber5.ChamberQuantity</label>


                                                </div>
                                                <div class="col-md-6">
                                                    <label for="example-text-input" class="form-control-label">
                                                        Tank Lorry Product Dips(MM) :
                                                    </label>
                                                    <label for="example-text-input" class="form-control-label" style="color:#3f55d1">@Invoices.ShippingDetail.Chamber5.LorryDip</label>
                                                </div>
                                                <div class="col-md-6">
                                                    <label for="example-text-input" class="form-control-label">
                                                        Quantity 85F :
                                                    </label>
                                                    <label for="example-text-input" class="form-control-label" style="color:#3f55d1">@Invoices.ShippingDetail.Chamber5.Quantity</label>
                                                </div>
                                            </div>
                                        </div>


                                    }
                                    <div class="col-md-12" style="text-align:center;padding-top:10px;">
                                        <label for="example-text-input" class="form-control-label" style="font-weight:bolder;font-size:larger;">
                                            Receiving Details
                                        </label>
                                    </div>

                                    @if (Invoices.ReceivingDetail.Chamber1.ChamberQuantity != 0)
                                    {


                                        <div class="col-md-6 form-control" style="margin-top: 7px;">
                                            <div class="row">


                                                <div class="col-md-12">
                                                    <label for="example-text-input" class="form-control-label" style="font-weight:bolder;font-size:medium;color:#3f55d1;">
                                                        Chamber 1
                                                    </label>
                                                </div>
                                                <div class="col-md-6">

                                                    <label for="example-text-input" class="form-control-label">
                                                        Chamber Quantity :

                                                    </label>
                                                    <label for="example-text-input" class="form-control-label" style="color:#3f55d1">@Invoices.ReceivingDetail.Chamber1.ChamberQuantity</label>


                                                </div>
                                                <div class="col-md-6">
                                                    <label for="example-text-input" class="form-control-label">
                                                        Tank Lorry Product Dips(MM) :
                                                    </label>
                                                    <label for="example-text-input" class="form-control-label" style="color:#3f55d1">@Invoices.ReceivingDetail.Chamber1.LorryDip</label>
                                                </div>
                                                <div class="col-md-6">
                                                    <label for="example-text-input" class="form-control-label">
                                                        Quantity 85F :
                                                    </label>
                                                    <label for="example-text-input" class="form-control-label" style="color:#3f55d1">@Invoices.ReceivingDetail.Chamber1.Quantity</label>
                                                </div>
                                            </div>
                                        </div>
                                    }

                                    @if (Invoices.ReceivingDetail.Chamber2.ChamberQuantity != 0)
                                    {


                                        <div class="col-md-6 form-control" style="margin-top: 7px;">
                                            <div class="row">


                                                <div class="col-md-12">
                                                    <label for="example-text-input" class="form-control-label" style="font-weight:bolder;font-size:medium;color:#3f55d1;">
                                                        Chamber 2
                                                    </label>
                                                </div>
                                                <div class="col-md-6">

                                                    <label for="example-text-input" class="form-control-label">
                                                        Chamber Quantity :

                                                    </label>
                                                    <label for="example-text-input" class="form-control-label" style="color:#3f55d1">@Invoices.ReceivingDetail.Chamber2.ChamberQuantity </label>


                                                </div>
                                                <div class="col-md-6">
                                                    <label for="example-text-input" class="form-control-label">
                                                        Tank Lorry Product Dips(MM) :
                                                    </label>
                                                    <label for="example-text-input" class="form-control-label" style="color:#3f55d1">@Invoices.ReceivingDetail.Chamber2.LorryDip</label>
                                                </div>
                                                <div class="col-md-6">
                                                    <label for="example-text-input" class="form-control-label">
                                                        Quantity 85F :
                                                    </label>
                                                    <label for="example-text-input" class="form-control-label" style="color:#3f55d1">@Invoices.ReceivingDetail.Chamber2.Quantity</label>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    @if (Invoices.ReceivingDetail.Chamber3.ChamberQuantity != 0)
                                    {


                                        <div class="col-md-6 form-control" style="margin-top: 7px;">
                                            <div class="row">


                                                <div class="col-md-12">
                                                    <label for="example-text-input" class="form-control-label" style="font-weight:bolder;font-size:medium;color:#3f55d1;">
                                                        Chamber 3
                                                    </label>
                                                </div>
                                                <div class="col-md-6">

                                                    <label for="example-text-input" class="form-control-label">
                                                        Chamber Quantity :

                                                    </label>
                                                    <label for="example-text-input" class="form-control-label" style="color:#3f55d1">@Invoices.ReceivingDetail.Chamber3.ChamberQuantity</label>


                                                </div>
                                                <div class="col-md-6">
                                                    <label for="example-text-input" class="form-control-label">
                                                        Tank Lorry Product Dips(MM) :
                                                    </label>
                                                    <label for="example-text-input" class="form-control-label" style="color:#3f55d1">@Invoices.ReceivingDetail.Chamber3.LorryDip</label>
                                                </div>
                                                <div class="col-md-6">
                                                    <label for="example-text-input" class="form-control-label">
                                                        Quantity 85F :
                                                    </label>
                                                    <label for="example-text-input" class="form-control-label" style="color:#3f55d1">@Invoices.ReceivingDetail.Chamber3.Quantity</label>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    @if (Invoices.ReceivingDetail.Chamber4.ChamberQuantity != 0)
                                    {


                                        <div class="col-md-6 form-control" style="margin-top: 7px;">
                                            <div class="row">


                                                <div class="col-md-12">
                                                    <label for="example-text-input" class="form-control-label" style="font-weight:bolder;font-size:medium;color:#3f55d1;">
                                                        Chamber 4
                                                    </label>
                                                </div>
                                                <div class="col-md-6">

                                                    <label for="example-text-input" class="form-control-label">
                                                        Chamber Quantity :

                                                    </label>
                                                    <label for="example-text-input" class="form-control-label" style="color:#3f55d1">@Invoices.ReceivingDetail.Chamber4.ChamberQuantity</label>


                                                </div>
                                                <div class="col-md-6">
                                                    <label for="example-text-input" class="form-control-label">
                                                        Tank Lorry Product Dips(MM) :
                                                    </label>
                                                    <label for="example-text-input" class="form-control-label" style="color:#3f55d1">@Invoices.ReceivingDetail.Chamber4.LorryDip</label>
                                                </div>
                                                <div class="col-md-6">
                                                    <label for="example-text-input" class="form-control-label">
                                                        Quantity 85F :
                                                    </label>
                                                    <label for="example-text-input" class="form-control-label" style="color:#3f55d1">@Invoices.ReceivingDetail.Chamber4.Quantity</label>
                                                </div>
                                            </div>
                                        </div>
                                    }

                                    @if (Invoices.ReceivingDetail.Chamber5.ChamberQuantity != 0)
                                    {



                                        <div class="col-md-6 form-control" style="margin-top: 7px;">
                                            <div class="row">


                                                <div class="col-md-12">
                                                    <label for="example-text-input" class="form-control-label" style="font-weight:bolder;font-size:medium;color:#3f55d1;">
                                                        Chamber 5
                                                    </label>
                                                </div>
                                                <div class="col-md-6">

                                                    <label for="example-text-input" class="form-control-label">
                                                        Chamber Quantity :

                                                    </label>
                                                    <label for="example-text-input" class="form-control-label" style="color:#3f55d1">@Invoices.ReceivingDetail.Chamber5.ChamberQuantity</label>


                                                </div>
                                                <div class="col-md-6">
                                                    <label for="example-text-input" class="form-control-label">
                                                        Tank Lorry Product Dips(MM) :
                                                    </label>
                                                    <label for="example-text-input" class="form-control-label" style="color:#3f55d1">@Invoices.ReceivingDetail.Chamber5.LorryDip</label>
                                                </div>
                                                <div class="col-md-6">
                                                    <label for="example-text-input" class="form-control-label">
                                                        Quantity 85F :
                                                    </label>
                                                    <label for="example-text-input" class="form-control-label" style="color:#3f55d1">@Invoices.ReceivingDetail.Chamber5.Quantity</label>
                                                </div>
                                            </div>
                                        </div>

                                    }
                                    <div class="col-md-12" style="text-align:center;padding-top:10px;">
                                        <label for="example-text-input" class="form-control-label" style="font-weight:bolder;font-size:larger;">
                                            Shortage Calculation
                                        </label>
                                    </div>


                                    @if (Invoices.ShortageCalculation.Chamber1.ShortageMM != 0)
                                    {


                                        <div class="col-md-6 form-control" style="margin-top: 7px;">
                                            <div class="row">


                                                <div class="col-md-12">
                                                    <label for="example-text-input" class="form-control-label" style="font-weight:bolder;font-size:medium;color:#3f55d1;">
                                                        Chamber 1
                                                    </label>
                                                </div>
                                                <div class="col-md-6">

                                                    <label for="example-text-input" class="form-control-label">
                                                        Shortage in MM :

                                                    </label>
                                                    <label for="example-text-input" class="form-control-label" style="color:#3f55d1">@Invoices.ShortageCalculation.Chamber1.ShortageMM</label>


                                                </div>
                                                <div class="col-md-6">
                                                    <label for="example-text-input" class="form-control-label">
                                                        Total Shortage in Liters :
                                                    </label>
                                                    <label for="example-text-input" class="form-control-label" style="color:#3f55d1">@Invoices.ShortageCalculation.Chamber1.TotalShortageLtr</label>
                                                </div>

                                            </div>
                                        </div>
                                    }

                                    @if (Invoices.ShortageCalculation.Chamber2.ShortageMM != 0)
                                    {


                                        <div class="col-md-6 form-control" style="margin-top: 7px;">
                                            <div class="row">


                                                <div class="col-md-12">
                                                    <label for="example-text-input" class="form-control-label" style="font-weight:bolder;font-size:medium;color:#3f55d1;">
                                                        Chamber 2
                                                    </label>
                                                </div>
                                                <div class="col-md-6">

                                                    <label for="example-text-input" class="form-control-label">
                                                        Shortage in MM :

                                                    </label>
                                                    <label for="example-text-input" class="form-control-label" style="color:#3f55d1">@Invoices.ShortageCalculation.Chamber2.ShortageMM</label>


                                                </div>
                                                <div class="col-md-6">
                                                    <label for="example-text-input" class="form-control-label">
                                                        Total Shortage in Liters :
                                                    </label>
                                                    <label for="example-text-input" class="form-control-label" style="color:#3f55d1">@Invoices.ShortageCalculation.Chamber2.TotalShortageLtr</label>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    @if (Invoices.ShortageCalculation.Chamber3.ShortageMM != 0)
                                    {


                                        <div class="col-md-6 form-control" style="margin-top: 7px;">
                                            <div class="row">


                                                <div class="col-md-12">
                                                    <label for="example-text-input" class="form-control-label" style="font-weight:bolder;font-size:medium;color:#3f55d1;">
                                                        Chamber 3
                                                    </label>
                                                </div>
                                                <div class="col-md-6">

                                                    <label for="example-text-input" class="form-control-label">
                                                        Shortage in MM :

                                                    </label>
                                                    <label for="example-text-input" class="form-control-label" style="color:#3f55d1">@Invoices.ShortageCalculation.Chamber3.ShortageMM</label>


                                                </div>
                                                <div class="col-md-6">
                                                    <label for="example-text-input" class="form-control-label">
                                                        Total Shortage in Liters :
                                                    </label>
                                                    <label for="example-text-input" class="form-control-label" style="color:#3f55d1">@Invoices.ShortageCalculation.Chamber3.TotalShortageLtr</label>
                                                </div>
                                            </div>
                                        </div>
                                    }

                                    @if (Invoices.ShortageCalculation.Chamber4.ShortageMM != 0)
                                    {



                                        <div class="col-md-6 form-control" style="margin-top: 7px;">
                                            <div class="row">


                                                <div class="col-md-12">
                                                    <label for="example-text-input" class="form-control-label" style="font-weight:bolder;font-size:medium;color:#3f55d1;">
                                                        Chamber 4
                                                    </label>
                                                </div>
                                                <div class="col-md-6">

                                                    <label for="example-text-input" class="form-control-label">
                                                        Shortage in MM :

                                                    </label>
                                                    <label for="example-text-input" class="form-control-label" style="color:#3f55d1">@Invoices.ShortageCalculation.Chamber4.ShortageMM</label>


                                                </div>
                                                <div class="col-md-6">
                                                    <label for="example-text-input" class="form-control-label">
                                                        Total Shortage in Liters :
                                                    </label>
                                                    <label for="example-text-input" class="form-control-label" style="color:#3f55d1">@Invoices.ShortageCalculation.Chamber4.TotalShortageLtr</label>
                                                </div>
                                            </div>
                                        </div>
                                    }

                                    @if (Invoices.ShortageCalculation.Chamber5.ShortageMM != 0)
                                    {



                                        <div class="col-md-6 form-control" style="margin-top: 7px;">
                                            <div class="row">


                                                <div class="col-md-12">
                                                    <label for="example-text-input" class="form-control-label" style="font-weight:bolder;font-size:medium;color:#3f55d1;">
                                                        Chamber 5
                                                    </label>
                                                </div>
                                                <div class="col-md-6">

                                                    <label for="example-text-input" class="form-control-label">
                                                        Shortage in MM :

                                                    </label>
                                                    <label for="example-text-input" class="form-control-label" style="color:#3f55d1">@Invoices.ShortageCalculation.Chamber5.ShortageMM</label>


                                                </div>
                                                <div class="col-md-6">
                                                    <label for="example-text-input" class="form-control-label">
                                                        Total Shortage in Liters :
                                                    </label>
                                                    <label for="example-text-input" class="form-control-label" style="color:#3f55d1">@Invoices.ShortageCalculation.Chamber5.TotalShortageLtr</label>
                                                </div>
                                            </div>
                                        </div>
                                    }


                                    <div class="col-md-12" style="text-align:center;padding-top:10px;">
                                        <label for="example-text-input" class="form-control-label" style="font-weight:bolder;font-size:larger;">
                                            Calculations
                                        </label>
                                    </div>



                                    <div class="col-md-6 form-control" style="margin-top: 7px;">
                                        <div class="row">
                                            <div class="col-md-6">

                                                <label for="example-text-input" class="form-control-label">
                                                    Temp. Difference (Desp. vs Rec.) :

                                                </label>
                                                <label for="example-text-input" class="form-control-label" style="color:#3f55d1">@Invoices.CalculationDifference.TempDiff</label>


                                            </div>
                                            <div class="col-md-6">
                                                <label for="example-text-input" class="form-control-label">
                                                    Total Shortage in Liters By Dip :
                                                </label>
                                                <label for="example-text-input" class="form-control-label" style="color:#3f55d1">@Invoices.CalculationDifference.TotalShortageByDip</label>
                                            </div>
                                            <div class="col-md-6">
                                                <label for="example-text-input" class="form-control-label">
                                                    Shortage  1° F Temp :
                                                </label>
                                                <label for="example-text-input" class="form-control-label" style="color:#3f55d1">@Invoices.CalculationDifference.Shortage1FTemp</label>
                                            </div>

                                            <div class="col-md-6">
                                                <label for="example-text-input" class="form-control-label">
                                                    Short Temprature (Exempted) :
                                                </label>
                                                <label for="example-text-input" class="form-control-label" style="color:#3f55d1">@Invoices.CalculationDifference.ShortOnTemp</label>
                                            </div>
                                            <div class="col-md-6">
                                                <label for="example-text-input" class="form-control-label">
                                                    Qty Should be Received :
                                                </label>
                                                <label for="example-text-input" class="form-control-label" style="color:#3f55d1">@Invoices.CalculationDifference.QtyShouldRecieved</label>
                                            </div>
                                            <div class="col-md-6">
                                                <label for="example-text-input" class="form-control-label">
                                                    Shortage Charge to Contractor :
                                                </label>
                                                <label for="example-text-input" class="form-control-label" style="color:#3f55d1">@Invoices.CalculationDifference.ShortageCharge</label>
                                            </div>
                                            <div class="col-md-6">
                                                <label for="example-text-input" class="form-control-label">
                                                    Status :
                                                </label>
                                                <label for="example-text-input" class="form-control-label" style="color:#3f55d1">@Invoices.CalculationDifference.Status</label>
                                            </div>
                                        </div>
                                    </div>





                                    @if (IsView == "View")
                                    {
                                        <div class="col-md-12" style="margin-top: 7px;">
                                            <div class="row">


                                                <div class="col-md-12">
                                                    <div class="form-group" style="text-align:center;">
                                                        <button class="btn btn-warning btn-sm ms-auto" @onclick="EditButton">Edit</button>
                                                        <button class="btn btn-primary btn-sm ms-auto" @onclick="Save">Submit</button>
                                                    </div>


                                                </div>

                                            </div>
                                        </div>
                                    }




                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">

                        <div class="table-responsive inv-img">
                            <img src="@Invoices.InvoiceFilePath" style="width:480px;" />
                        </div>

                    </div>
                </div>
            </div>

        }

        <Loader isLoading="@IsLoading" IsMessage=true />
    </Authorized>
    <NotAuthorized>
        <_403 />
    </NotAuthorized>
</AuthorizeView>


@code {
    private string? IsView { get; set; } = string.Empty;
    public bool IsLoading { get; set; } = false;
    private Invoicing? Invoices { get; set; }
    protected override void OnInitialized()
    {
        try
        {
            // Retrieve the encoded JSON string from the query parameters if it exists
            string encodedJson = NavigationManager.ToAbsoluteUri(NavigationManager.Uri).Query;

            // Check if the "json" query parameter exists
            if (encodedJson.Contains("json="))
            {
                // Extract the value of the "json" query parameter
                encodedJson = encodedJson.Split("json=")[1];

                // Decode the URL-safe Base64 string
                string base64EncodedJson = HttpUtility.UrlDecode(encodedJson);

                // Convert the Base64 string back to UTF-8 encoded bytes
                byte[] base64EncodedBytes = Convert.FromBase64String(base64EncodedJson);

                // Decode the UTF-8 bytes back to the original JSON string
                string jsonString = Encoding.UTF8.GetString(base64EncodedBytes);

                // Deserialize the JSON string back into the Invoices object
                Invoices = JsonSerializer.Deserialize<Invoicing>(jsonString);
                IsView = Invoices.IsView;
            }
            else if (encodedJson.Contains("InvoiceID="))
            {
                // Extract the value of the "json" query parameter
                encodedJson = encodedJson.Split("InvoiceID=")[1];

                // Decode the URL-safe Base64 string
                string base64EncodedJson = HttpUtility.UrlDecode(encodedJson);

                // Convert the Base64 string back to UTF-8 encoded bytes
                byte[] base64EncodedBytes = Convert.FromBase64String(base64EncodedJson);

                // Decode the UTF-8 bytes back to the original JSON string
                string jsonString = Encoding.UTF8.GetString(base64EncodedBytes);

                // Deserialize the JSON string back into the Invoices object
                Invoices = JsonSerializer.Deserialize<Invoicing>(jsonString);
            }
        }
        catch (Exception ex)
        {

        }
    }
    private async Task Save()
    {
        IsLoading = true;
        try
        {
            string jsonData = JsonSerializer.Serialize(Invoices);
            var AddUser = await API.PostRequest($"Invoice/AddInvoice", jsonData);
            string Result = JsonSerializer.Deserialize<string>(AddUser);
            if (Result == "200")
            {
                toastService.ShowSuccess("Invoice Added Success");
                IsLoading = false;
                NavigationManager.NavigateTo("/addinvoice");
            }
            else if (Result == "403")
            {
                toastService.ShowError("Empty STO No");
            }
            else if (Result == "504")
            {
                toastService.ShowError($"Invoice Already Exists: {Invoices.Details.STONo}");
            }
            else if (Result == "204")
            {
               // toastService.ShowWarning("Invoice is saved without driver attendance");
                toastService.ShowSuccess("Invoice Added Success");

                NavigationManager.NavigateTo("/addinvoice");
            }
            else
            {
                toastService.ShowError("Error while adding invoice");
            }
            IsLoading = false;
        }
        catch (Exception ex)
        {
            IsLoading = false;
            toastService.ShowError($"Error while adding invoice");
        }

        IsLoading = false;
    }
    private async Task EditButton()
    {
        try
        {
            Invoices.IsFromDisplay = true;
            string jsonString = JsonSerializer.Serialize(Invoices);

            // Encode the JSON string as Base64 to make it URL-safe
            string base64EncodedJson = Convert.ToBase64String(Encoding.UTF8.GetBytes(jsonString));

            // Encode the Base64 string to make it URL-safe
            string encodedJson = HttpUtility.UrlEncode(base64EncodedJson);

            // Navigate to the destination page with the encoded JSON string as a query parameter
            NavigationManager.NavigateTo($"/invoicepanel?Edit={encodedJson}");
        }
        catch (Exception ex)
        {
            toastService.ShowError($"Error: {ex.Message}");
        }



    }
}
