@page "/invoicepanel"
@using Majorsoft.Blazor.Components.Tabs
@using System.Linq;
@using System.Text.Json
@using System.Web
@using System.Text
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@using VehicleManagement.ApiService
@using VehicleManagement.Models.General
@using VehicleManagement.Models.General.Login
@using VehicleManagement.Pages.Redirects;
@inject IWebHostEnvironment Environment
@inject IToastService toastService
@inject NavigationManager NavigationManager
@inject IApiService API


<AuthorizeView Policy="Testing">
    <Authorized>
        <Nav PageName="@TabHeading" />
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card mb-4">



                        <div class="card-body px-0 pt-0 pb-2">

                            <TabsPanel @ref="_tabs"
                                       ActiveColor="@_activeColor"
                                       InactiveColor="@_inactiveColor"
                                       HoverColor="@_hoverColor"
                                       ActiveTab="@_activeTab"
                                       TabItemsHeight="@_height"
                                       TabItemsWidth="@_width"
                                       Disabled="@_allTabsDisabled"
                                       TabPositon="@_tabPositon"
                                       Animate="@_isAnimated">
                                <TabItems>
                                    <TabItem id="tab1" @ref="_tab1">
                                        <Header><strong>General Details</strong></Header>
                                        <Content>
                                            <div class="col-md-12">
                                                <div class="card">

                                                    <div class="card-body">

                                                        <div class="row">

                                                            <div class="col-md-12" style="padding-top:10px;">
                                                                <div class="form-group" style="text-align:center;">
                                                                    <button class="btn btn-danger btn-sm ms-auto" @onclick="NextTab">Next</button>

                                                                </div>

                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label for="example-text-input" class="form-control-label">Tank Lorry No</label>
                                                                    <input type="text" placeholder="Tank Lorry No" @bind="Invoices.Details.TankLorryNO" class="form-control">

                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label for="example-text-input" class="form-control-label">STO No</label>
                                                                    <input type="text" placeholder="STO No" @bind="Invoices.Details.STONo" class="form-control">

                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label for="example-text-input" class="form-control-label">Date</label>
                                                                    <input type="date" placeholder="Date" @bind="Invoices.Details.Date" class="form-control">

                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label for="example-text-input" class="form-control-label">Supply Point</label>
                                                                    <input type="text" placeholder="Supply Point" @bind="Invoices.Details.SupplyPoint" class="form-control">

                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label for="example-text-input" class="form-control-label">Contractor</label>
                                                                    <input type="text" placeholder="Contractor" @bind="Invoices.Details.Contractor" class="form-control">

                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label for="example-text-input" class="form-control-label">Receiving Location</label>
                                                                    <input type="text" placeholder="Receiving Location" @bind="Invoices.Details.ReceivingLocation" class="form-control">

                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label for="example-text-input" class="form-control-label">Product</label>
                                                                    <input type="text" placeholder="Product" @bind="Invoices.Details.Product" class="form-control">

                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>


                                        </Content>
                                    </TabItem>



                                    <TabItem id="tab2" @ref="_tab2">
                                        <Header><strong>Shipping Details</strong></Header>
                                        <Content>
                                            <div class="col-md-12">
                                                <div class="card">

                                                    <div class="card-body">

                                                        <div class="row">

                                                            <div class="col-md-12" style="padding-top:10px;">
                                                                <div class="form-group" style="text-align:center;">
                                                                    <button class="btn btn-danger btn-sm ms-auto" @onclick="NextTab">Next</button>
                                                                    <button class="btn btn-warning btn-sm ms-auto" @onclick="PreviousTab">Back</button>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-4" style="padding-top:5px;">
                                                                <div class="form-control">
                                                                    <div class="form-group">
                                                                        <label for="example-text-input" class="font-weight-bolder mb-0" style="color:black;">Shipping</label>


                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="example-text-input" class="form-control-label">Tempreture F</label>
                                                                        <input type="number" placeholder="Chamber Quantity" @bind="Invoices.ShippingDetail.TempF" class="form-control">

                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="example-text-input" class="form-control-label">
                                                                            S.G
                                                                        </label>
                                                                        <input type="number" placeholder=" Tank Lorry Product Dips(MM)" @bind="Invoices.ShippingDetail.SG" class="form-control">

                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-4" style="padding-top:5px;">
                                                                <div class="form-control">
                                                                    <div class="form-group">
                                                                        <label for="example-text-input" class="font-weight-bolder mb-0" style="color:black;">Chamber 1</label>
                                                                        <input type="checkbox" class="form-control-label" checked="@DisableChamber1" @onchange="Chamber1Check" style="float:right;" />

                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="example-text-input" class="form-control-label">Chamber Quantity</label>
                                                                        <input type="number" placeholder="Chamber Quantity" @bind="Invoices.ShippingDetail.Chamber1.ChamberQuantity" disabled="@DisableChamber1" class="form-control">

                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="example-text-input" class="form-control-label">
                                                                            Tank Lorry Product Dips(MM)
                                                                        </label>
                                                                        <input type="number" placeholder=" Tank Lorry Product Dips(MM)" @bind="Invoices.ShippingDetail.Chamber1.LorryDip" disabled="@DisableChamber1" class="form-control">

                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="example-text-input" class="form-control-label">
                                                                            Quantity  85F
                                                                        </label>
                                                                        <input type="number" placeholder="Quantity  85F" @bind="Invoices.ShippingDetail.Chamber1.Quantity" disabled="@DisableChamber1" class="form-control">

                                                                    </div>
                                                                </div>





                                                            </div>

                                                            <div class="col-md-4" style="padding-top:5px;">
                                                                <div class="form-control">
                                                                    <div class="form-group">
                                                                        <label for="example-text-input" class="font-weight-bolder mb-0" style="color:black;">Chamber 2</label>
                                                                        <input type="checkbox" class="form-control-label" checked="@DisableChamber2" @onchange="Chamber2Check" style="float:right;" />

                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="example-text-input" class="form-control-label">Chamber Quantity</label>
                                                                        <input type="number" placeholder="Chamber Quantity" @bind="Invoices.ShippingDetail.Chamber2.ChamberQuantity" disabled="@DisableChamber2" class="form-control">

                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="example-text-input" class="form-control-label">
                                                                            Tank Lorry Product Dips(MM)
                                                                        </label>
                                                                        <input type="number" placeholder=" Tank Lorry Product Dips(MM)" @bind="Invoices.ShippingDetail.Chamber2.LorryDip" disabled="@DisableChamber2" class="form-control">

                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="example-text-input" class="form-control-label">
                                                                            Quantity  85F
                                                                        </label>
                                                                        <input type="number" placeholder="Quantity  85F" @bind="Invoices.ShippingDetail.Chamber2.Quantity" disabled="@DisableChamber2" class="form-control">

                                                                    </div>
                                                                </div>





                                                            </div>

                                                            <div class="col-md-4" style="padding-top:5px;">
                                                                <div class="form-control">
                                                                    <div class="form-group">
                                                                        <label for="example-text-input" class="font-weight-bolder mb-0" style="color:black;">Chamber 3</label>
                                                                        <input type="checkbox" class="form-control-label" checked="@DisableChamber3" @onchange="Chamber3Check" style="float:right;" />

                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="example-text-input" class="form-control-label">Chamber Quantity</label>
                                                                        <input type="number" placeholder="Chamber Quantity" @bind="Invoices.ShippingDetail.Chamber3.ChamberQuantity" disabled="@DisableChamber3" class="form-control">

                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="example-text-input" class="form-control-label">
                                                                            Tank Lorry Product Dips(MM)
                                                                        </label>
                                                                        <input type="number" placeholder=" Tank Lorry Product Dips(MM)" @bind="Invoices.ShippingDetail.Chamber3.LorryDip" disabled="@DisableChamber3" class="form-control">

                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="example-text-input" class="form-control-label">
                                                                            Quantity  85F
                                                                        </label>
                                                                        <input type="number" placeholder="Quantity  85F" @bind="Invoices.ShippingDetail.Chamber3.Quantity" disabled="@DisableChamber3" class="form-control">

                                                                    </div>
                                                                </div>





                                                            </div>

                                                            <div class="col-md-4" style="padding-top:5px;">
                                                                <div class="form-control">
                                                                    <div class="form-group">
                                                                        <label for="example-text-input" class="font-weight-bolder mb-0" style="color:black;">Chamber 4</label>
                                                                        <input type="checkbox" class="form-control-label" checked="@DisableChamber4" @onchange="Chamber4Check" style="float:right;" />

                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="example-text-input" class="form-control-label">Chamber Quantity</label>
                                                                        <input type="number" placeholder="Chamber Quantity" @bind="Invoices.ShippingDetail.Chamber4.ChamberQuantity" disabled="@DisableChamber4" class="form-control">

                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="example-text-input" class="form-control-label">
                                                                            Tank Lorry Product Dips(MM)
                                                                        </label>
                                                                        <input type="number" placeholder=" Tank Lorry Product Dips(MM)" @bind="Invoices.ShippingDetail.Chamber4.LorryDip" disabled="@DisableChamber4" class="form-control">

                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="example-text-input" class="form-control-label">
                                                                            Quantity  85F
                                                                        </label>
                                                                        <input type="number" placeholder="Quantity  85F" @bind="Invoices.ShippingDetail.Chamber4.Quantity" disabled="@DisableChamber4" class="form-control">

                                                                    </div>
                                                                </div>





                                                            </div>

                                                            <div class="col-md-4" style="padding-top:5px;">
                                                                <div class="form-control">
                                                                    <div class="form-group">
                                                                        <label for="example-text-input" class="font-weight-bolder mb-0" style="color:black;">Chamber 5</label>
                                                                        <input type="checkbox" class="form-control-label" checked="@DisableChamber5" @onchange="Chamber5Check" style="float:right;" />

                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="example-text-input" class="form-control-label">Chamber Quantity</label>
                                                                        <input type="number" placeholder="Chamber Quantity" @bind="Invoices.ShippingDetail.Chamber5.ChamberQuantity" disabled="@DisableChamber5" class="form-control">

                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="example-text-input" class="form-control-label">
                                                                            Tank Lorry Product Dips(MM)
                                                                        </label>
                                                                        <input type="number" placeholder=" Tank Lorry Product Dips(MM)" @bind="Invoices.ShippingDetail.Chamber5.LorryDip" disabled="@DisableChamber5" class="form-control">

                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="example-text-input" class="form-control-label">
                                                                            Quantity  85F
                                                                        </label>
                                                                        <input type="number" placeholder="Quantity  85F" @bind="Invoices.ShippingDetail.Chamber5.Quantity" disabled="@DisableChamber5" class="form-control">

                                                                    </div>
                                                                </div>





                                                            </div>


                                                        </div>

                                                    </div>
                                                </div>
                                            </div>

                                        </Content>
                                    </TabItem>

                                    <TabItem id="tab3" @ref="_tab3">
                                        <Header><strong>Receiving Details</strong></Header>
                                        <Content>
                                            <div class="col-md-12">
                                                <div class="card">

                                                    <div class="card-body">

                                                        <div class="row">
                                                            <div class="col-md-12" style="padding-top:10px;">
                                                                <div class="form-group" style="text-align:center;">
                                                                    <button class="btn btn-danger btn-sm ms-auto" @onclick="NextTab">Next</button>
                                                                    <button class="btn btn-warning btn-sm ms-auto" @onclick="PreviousTab">Back</button>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-4" style="padding-top:5px;">
                                                                <div class="form-control">
                                                                    <div class="form-group">
                                                                        <label for="example-text-input" class="font-weight-bolder mb-0" style="color:black;">Receiving</label>


                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="example-text-input" class="form-control-label">Tempreture F</label>
                                                                        <input type="number" placeholder="Chamber Quantity" @bind="Invoices.ReceivingDetail.TempF" class="form-control">

                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="example-text-input" class="form-control-label">
                                                                            S.G
                                                                        </label>
                                                                        <input type="number" placeholder=" Tank Lorry Product Dips(MM)" @bind="Invoices.ReceivingDetail.SG" class="form-control">

                                                                    </div>
                                                                </div>
                                                            </div>
                                                            @if (!DisableChamber1)
                                                            {
                                                                <div class="col-md-4" style="padding-top:5px;">
                                                                    <div class="form-control">
                                                                        <div class="form-group">
                                                                            <label for="example-text-input" class="font-weight-bolder mb-0" style="color:black;">Chamber 1</label>


                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label for="example-text-input" class="form-control-label">Chamber Quantity</label>
                                                                            <input type="number" placeholder="Chamber Quantity" @bind="Invoices.ReceivingDetail.Chamber1.ChamberQuantity" class="form-control">

                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label for="example-text-input" class="form-control-label">
                                                                                Tank Lorry Product Dips(MM)
                                                                            </label>
                                                                            <input type="number" placeholder=" Tank Lorry Product Dips(MM)" @bind="Invoices.ReceivingDetail.Chamber1.LorryDip" class="form-control">

                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label for="example-text-input" class="form-control-label">
                                                                                Quantity  85F
                                                                            </label>
                                                                            <input type="number" placeholder="Quantity  85F" @bind="Invoices.ReceivingDetail.Chamber1.Quantity" class="form-control">

                                                                        </div>


                                                                    </div>





                                                                </div>
                                                            }
                                                            @if (!DisableChamber2)
                                                            {
                                                                <div class="col-md-4" style="padding-top:5px;">
                                                                    <div class="form-control">
                                                                        <div class="form-group">
                                                                            <label for="example-text-input" class="font-weight-bolder mb-0" style="color:black;">Chamber 2</label>


                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label for="example-text-input" class="form-control-label">Chamber Quantity</label>
                                                                            <input type="number" placeholder="Chamber Quantity" @bind="Invoices.ReceivingDetail.Chamber2.ChamberQuantity" class="form-control">

                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label for="example-text-input" class="form-control-label">
                                                                                Tank Lorry Product Dips(MM)
                                                                            </label>
                                                                            <input type="number" placeholder=" Tank Lorry Product Dips(MM)" @bind="Invoices.ReceivingDetail.Chamber2.LorryDip" class="form-control">

                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label for="example-text-input" class="form-control-label">
                                                                                Quantity  85F
                                                                            </label>
                                                                            <input type="number" placeholder="Quantity  85F" @bind="Invoices.ReceivingDetail.Chamber2.Quantity" class="form-control">

                                                                        </div>

                                                                    </div>





                                                                </div>
                                                            }
                                                            @if (!DisableChamber3)
                                                            {


                                                                <div class="col-md-4" style="padding-top:5px;">
                                                                    <div class="form-control">
                                                                        <div class="form-group">
                                                                            <label for="example-text-input" class="font-weight-bolder mb-0" style="color:black;">Chamber 3</label>


                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label for="example-text-input" class="form-control-label">Chamber Quantity</label>
                                                                            <input type="number" placeholder="Chamber Quantity" @bind="Invoices.ReceivingDetail.Chamber3.ChamberQuantity" class="form-control">

                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label for="example-text-input" class="form-control-label">
                                                                                Tank Lorry Product Dips(MM)
                                                                            </label>
                                                                            <input type="number" placeholder=" Tank Lorry Product Dips(MM)" @bind="Invoices.ReceivingDetail.Chamber3.LorryDip" class="form-control">

                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label for="example-text-input" class="form-control-label">
                                                                                Quantity  85F
                                                                            </label>
                                                                            <input type="number" placeholder="Quantity  85F" @bind="Invoices.ReceivingDetail.Chamber3.Quantity" class="form-control">

                                                                        </div>

                                                                    </div>





                                                                </div>
                                                            }
                                                            @if (!DisableChamber4)
                                                            {


                                                                <div class="col-md-4" style="padding-top:5px;">
                                                                    <div class="form-control">
                                                                        <div class="form-group">
                                                                            <label for="example-text-input" class="font-weight-bolder mb-0" style="color:black;">Chamber 4</label>


                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label for="example-text-input" class="form-control-label">Chamber Quantity</label>
                                                                            <input type="number" placeholder="Chamber Quantity" @bind="Invoices.ReceivingDetail.Chamber4.ChamberQuantity" class="form-control">

                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label for="example-text-input" class="form-control-label">
                                                                                Tank Lorry Product Dips(MM)
                                                                            </label>
                                                                            <input type="number" placeholder=" Tank Lorry Product Dips(MM)" @bind="Invoices.ReceivingDetail.Chamber4.LorryDip" class="form-control">

                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label for="example-text-input" class="form-control-label">
                                                                                Quantity  85F
                                                                            </label>
                                                                            <input type="number" placeholder="Quantity  85F" @bind="Invoices.ReceivingDetail.Chamber4.Quantity" class="form-control">

                                                                        </div>

                                                                    </div>





                                                                </div>
                                                            }
                                                            @if (!DisableChamber5)
                                                            {


                                                                <div class="col-md-4" style="padding-top:5px;">
                                                                    <div class="form-control">
                                                                        <div class="form-group">
                                                                            <label for="example-text-input" class="font-weight-bolder mb-0" style="color:black;">Chamber 5</label>


                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label for="example-text-input" class="form-control-label">Chamber Quantity</label>
                                                                            <input type="number" placeholder="Chamber Quantity" @bind="Invoices.ReceivingDetail.Chamber5.ChamberQuantity" class="form-control">

                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label for="example-text-input" class="form-control-label">
                                                                                Tank Lorry Product Dips(MM)
                                                                            </label>
                                                                            <input type="number" placeholder=" Tank Lorry Product Dips(MM)" @bind="Invoices.ReceivingDetail.Chamber5.LorryDip" class="form-control">

                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label for="example-text-input" class="form-control-label">
                                                                                Quantity  85F
                                                                            </label>
                                                                            <input type="number" placeholder="Quantity  85F" @bind="Invoices.ReceivingDetail.Chamber5.Quantity" class="form-control">

                                                                        </div>

                                                                    </div>





                                                                </div>

                                                            }

                                                        </div>

                                                    </div>
                                                </div>
                                            </div>


                                        </Content>
                                    </TabItem>
                                    <TabItem id="tab4" @ref="_tab4">
                                        <Header><strong>Shortage Calculation</strong></Header>
                                        <Content>
                                            <div class="col-md-12">
                                                <div class="card">

                                                    <div class="card-body">

                                                        <div class="row">

                                                            <div class="col-md-12" style="padding-top:10px;">
                                                                <div class="form-group" style="text-align:center;">
                                                                    <button class="btn btn-danger btn-sm ms-auto" @onclick="NextTab">Next</button>
                                                                    <button class="btn btn-warning btn-sm ms-auto" @onclick="PreviousTab">Back</button>
                                                                </div>
                                                            </div>
                                                            @if (!DisableChamber1)
                                                            {
                                                                <div class="col-md-4" style="padding-top:5px;">
                                                                    <div class="form-control">
                                                                        <div class="form-group">
                                                                            <label for="example-text-input" class="font-weight-bolder mb-0" style="color:black;">Chamber 1</label>


                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label for="example-text-input" class="form-control-label">Shortage in MM</label>
                                                                            <input type="number" disabled="disabled" placeholder="Shortage in MM" @bind="Invoices.ShortageCalculation.Chamber1.ShortageMM" class="form-control">

                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label for="example-text-input" class="form-control-label">
                                                                                Total Shortage in Liters
                                                                            </label>
                                                                            <input type="number" disabled="disabled" placeholder="Total Shortage in Liters" @bind="Invoices.ShortageCalculation.Chamber1.TotalShortageLtr" class="form-control">

                                                                        </div>


                                                                    </div>





                                                                </div>
                                                            }
                                                            @if (!DisableChamber2)
                                                            {
                                                                <div class="col-md-4" style="padding-top:5px;">
                                                                    <div class="form-control">
                                                                        <div class="form-group">
                                                                            <label for="example-text-input" class="font-weight-bolder mb-0" style="color:black;">Chamber 2</label>


                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label for="example-text-input" class="form-control-label">Shortage in MM</label>
                                                                            <input type="number" disabled="disabled" placeholder="Shortage in MM" @bind="Invoices.ShortageCalculation.Chamber2.ShortageMM" class="form-control">

                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label for="example-text-input" class="form-control-label">Total Shortage in Liters</label>
                                                                            <input type="number" disabled="disabled" placeholder="Total Shortage in Liters" @bind="Invoices.ShortageCalculation.Chamber2.TotalShortageLtr" class="form-control">

                                                                        </div>

                                                                    </div>





                                                                </div>
                                                            }
                                                            @if (!DisableChamber3)
                                                            {
                                                                <div class="col-md-4" style="padding-top:5px;">
                                                                    <div class="form-control">
                                                                        <div class="form-group">
                                                                            <label for="example-text-input" class="font-weight-bolder mb-0" style="color:black;">Chamber 3</label>


                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label for="example-text-input" class="form-control-label">Shortage in MM</label>
                                                                            <input type="number" disabled="disabled" placeholder="Shortage in MM" @bind="Invoices.ShortageCalculation.Chamber3.ShortageMM" class="form-control">

                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label for="example-text-input" class="form-control-label">
                                                                                Total Shortage in Liters
                                                                            </label>
                                                                            <input type="number" disabled="disabled" placeholder="Total Shortage in Liters" @bind="Invoices.ShortageCalculation.Chamber3.TotalShortageLtr" class="form-control">

                                                                        </div>
                                                                    </div>





                                                                </div>
                                                            }
                                                            @if (!DisableChamber4)
                                                            {
                                                                <div class="col-md-4" style="padding-top:5px;">
                                                                    <div class="form-control">
                                                                        <div class="form-group">
                                                                            <label for="example-text-input" class="font-weight-bolder mb-0" style="color:black;">Chamber 4</label>


                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label for="example-text-input" class="form-control-label">Shortage in MM</label>
                                                                            <input type="number" disabled="disabled" placeholder="Shortage in MM" @bind="Invoices.ShortageCalculation.Chamber4.ShortageMM" class="form-control">

                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label for="example-text-input" class="form-control-label">
                                                                                Total Shortage in Liters
                                                                            </label>
                                                                            <input type="number" disabled="disabled" placeholder="Total Shortage in Liters" @bind="Invoices.ShortageCalculation.Chamber4.TotalShortageLtr" class="form-control">

                                                                        </div>
                                                                    </div>





                                                                </div>
                                                            }
                                                            @if (!DisableChamber5)
                                                            {
                                                                <div class="col-md-4" style="padding-top:5px;">
                                                                    <div class="form-control">
                                                                        <div class="form-group">
                                                                            <label for="example-text-input" class="font-weight-bolder mb-0" style="color:black;">Chamber 5</label>


                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label for="example-text-input" class="form-control-label">Shortage in MM</label>
                                                                            <input type="number" disabled="disabled" placeholder="Shortage in MM" @bind="Invoices.ShortageCalculation.Chamber5.ShortageMM" class="form-control">

                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label for="example-text-input" class="form-control-label">
                                                                                Total Shortage in Liters
                                                                            </label>
                                                                            <input type="number" disabled="disabled" placeholder="Total Shortage in Liters" @bind="Invoices.ShortageCalculation.Chamber5.TotalShortageLtr" class="form-control">

                                                                        </div>
                                                                    </div>

                                                                </div>

                                                            }
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>

                                        </Content>
                                    </TabItem>

                                    <TabItem id="tab4" @ref="_tab4">
                                        <Header><strong>Calculation Diff</strong></Header>
                                        <Content>
                                            <div class="col-md-12">
                                                <div class="card">

                                                    <div class="card-body">

                                                        <div class="row">

                                                            <div class="col-md-12" style="padding-top:10px;">
                                                                <div class="form-group" style="text-align:center;">
                                                                    <button class="btn btn-danger btn-sm ms-auto" @onclick="NextTab">Next</button>
                                                                    <button class="btn btn-warning btn-sm ms-auto" @onclick="PreviousTab">Back</button>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-4" style="padding-top:5px;">
                                                                <div class="form-control">

                                                                    <div class="form-group">
                                                                        <label for="example-text-input" class="form-control-label">Temp. Difference (Desp. vs Rec.)</label>
                                                                        <input type="number" disabled="disabled" placeholder="Temp. Difference (Desp. vs Rec.)" @bind="Invoices.CalculationDifference.TempDiff" class="form-control">

                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="example-text-input" class="form-control-label">
                                                                            Shortage 1° F Temp
                                                                        </label>
                                                                        <input type="number" disabled="disabled" placeholder="Shortage 1° F Temp" @bind="Invoices.CalculationDifference.Shortage1FTemp" class="form-control">

                                                                    </div>

                                                                    <div class="form-group">
                                                                        <label for="example-text-input" class="form-control-label">
                                                                            Qty Should be Received
                                                                        </label>
                                                                        <input type="number" disabled="disabled" placeholder="Qty Should be Received" @bind="Invoices.CalculationDifference.QtyShouldRecieved" class="form-control">

                                                                    </div>


                                                                </div>





                                                            </div>

                                                            <div class="col-md-4" style="padding-top:5px;">
                                                                <div class="form-control">

                                                                    <div class="form-group">
                                                                        <label for="example-text-input" class="form-control-label">Total Shortage in Liters By Dip</label>
                                                                        <input type="number" disabled="disabled" placeholder="Total Shortage in Liters By Dip" @bind="Invoices.CalculationDifference.TotalShortageByDip" class="form-control">

                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="example-text-input" class="form-control-label">
                                                                            Short On Temprature (Exempted)
                                                                        </label>
                                                                        <input type="number" disabled="disabled" placeholder="Short On Temprature (Exempted)" @bind="Invoices.CalculationDifference.ShortOnTemp" class="form-control">
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="example-text-input" class="form-control-label">
                                                                            Shortage Charge to Contractor
                                                                        </label>
                                                                        <input type="number" disabled="disabled" placeholder="Shortage Charge to Contractor" @bind="Invoices.CalculationDifference.ShortageCharge" class="form-control">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </Content>
                                    </TabItem>
                                    <TabItem id="tab6" @ref="_tab6">
                                        <Header><strong>Upload Hardcopy</strong></Header>
                                        <Content>
                                            <div class="col-md-12">
                                                <div class="card">
                                                    <div class="card-body">
                                                        <div class="row">
                                                            <div class="col-md-12" style="padding-top:10px;">
                                                                <div class="form-group" style="text-align:center;">
                                                                    <button class="btn btn-danger btn-sm ms-auto" @onclick="SavePreview">Save & Preview</button>
                                                                    <button class="btn btn-warning btn-sm ms-auto" @onclick="PreviousTab">Back</button>
                                                                </div>

                                                            </div>
                                                            <div class="col-md-4" style="padding-top:5px;">
                                                                <div class="form-control">
                                                                    <div class="form-group">
                                                                        <label for="example-text-input" class="font-weight-bolder mb-0" style="color:black;">
                                                                            Upload Image
                                                                        </label>
                                                                        @if (Invoices.IsFromDisplay)
                                                                        {
                                                                            <label for="example-text-input" class="font-weight-bolder mb-0" style="color:black;font-size:medium;">
                                                                                Previous Image is already saved. Only upload if you want to replace that.
                                                                            </label>
                                                                        }
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <InputFile OnChange="@LoadFiles" />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </Content>
                                    </TabItem>
                                </TabItems>
                            </TabsPanel>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <Loader isLoading="@IsLoading" />
    </Authorized>
    <NotAuthorized>
        <_403 />
    </NotAuthorized>
</AuthorizeView>



@code {
    private Invoicing Invoices { get; set; } = new Invoicing();
    private string TabHeading { get; set; }
    private string _activeColor = "White";
    private string _inactiveColor = "White";
    private string _hoverColor = "White";
    private int _width = 255;
    private int _height = 40;
    private TabPositons _tabPositon = TabPositons.Left;
    private bool _isAnimated = false;
    private bool _allTabsDisabled = false;
    private bool IsLoading = false;
    private bool CheckChamber1 = true;

    private bool _isTabHidden = false;

    private int _tabsCount;

    private bool DisableChamber1 = true;
    private bool DisableChamber2 = true;
    private bool DisableChamber3 = true;
    private bool DisableChamber4 = true;
    private bool DisableChamber5 = true;


    private TabsPanel _tabs;
    private TabItem _activeTab;
    private TabItem _tab1;
    private TabItem _tab2;
    private TabItem _tab3;
    private TabItem _tab4;
    private TabItem _tab5;
    private TabItem _tab6;
    private TabItem _tab7;


    protected override async void OnInitialized()
    {





        // Retrieve the encoded JSON string from the query parameters if it exists
        string encodedJson = NavigationManager.ToAbsoluteUri(NavigationManager.Uri).Query;

        // Check if the "json" query parameter exists
        if (encodedJson.Contains("Edit="))
        {
            // Extract the value of the "json" query parameter
            encodedJson = encodedJson.Split("Edit=")[1];

            // Decode the URL-safe Base64 string
            string base64EncodedJson = HttpUtility.UrlDecode(encodedJson);

            // Convert the Base64 string back to UTF-8 encoded bytes
            byte[] base64EncodedBytes = Convert.FromBase64String(base64EncodedJson);

            // Decode the UTF-8 bytes back to the original JSON string
            string jsonString = Encoding.UTF8.GetString(base64EncodedBytes);

            // Deserialize the JSON string back into the Invoices object
            Invoices = JsonSerializer.Deserialize<Invoicing>(jsonString);

        }
    }

    private void Chamber1Check(ChangeEventArgs e)
    {
        DisableChamber1 = (bool)e.Value;
        if (DisableChamber1)
        {
            Invoices.ShippingDetail.Chamber1 = new Ship_Chamber();
            Invoices.ReceivingDetail.Chamber1 = new Recieve_Chamber();
            Invoices.ShortageCalculation.Chamber1 = new ShortageChamber();

        }
    }
    private void Chamber2Check(ChangeEventArgs e)
    {
        DisableChamber2 = (bool)e.Value;
        if (DisableChamber2)
        {
            Invoices.ShippingDetail.Chamber2 = new Ship_Chamber();
            Invoices.ReceivingDetail.Chamber2 = new Recieve_Chamber();
            Invoices.ShortageCalculation.Chamber2 = new ShortageChamber();
        }
    }
    private void Chamber3Check(ChangeEventArgs e)
    {
        DisableChamber3 = (bool)e.Value;
        if (DisableChamber3)
        {
            Invoices.ShippingDetail.Chamber3 = new Ship_Chamber();
            Invoices.ReceivingDetail.Chamber3 = new Recieve_Chamber();
            Invoices.ShortageCalculation.Chamber3 = new ShortageChamber();
        }
    }
    private void Chamber4Check(ChangeEventArgs e)
    {
        DisableChamber4 = (bool)e.Value;
        if (DisableChamber4)
        {
            Invoices.ShippingDetail.Chamber4 = new Ship_Chamber();
            Invoices.ReceivingDetail.Chamber4 = new Recieve_Chamber();
            Invoices.ShortageCalculation.Chamber4 = new ShortageChamber();
        }
    }
    private void Chamber5Check(ChangeEventArgs e)
    {
        DisableChamber5 = (bool)e.Value;
        if (DisableChamber5)
        {
            Invoices.ShippingDetail.Chamber5 = new Ship_Chamber();
            Invoices.ReceivingDetail.Chamber5 = new Recieve_Chamber();
            Invoices.ShortageCalculation.Chamber5 = new ShortageChamber();
        }
    }

    private async Task LoadFiles(InputFileChangeEventArgs e)
    {


        foreach (var file in e.GetMultipleFiles())
        {
            try
            {


                var trustedFileNameForFileStorage = file.Name;
                var folderPath = Path.Combine(Environment.ContentRootPath, "wwwroot\\css\\Development", "HTL_Reports");

                // Create the directory if it doesn't exist
                if (!Directory.Exists(folderPath))
                {
                    Directory.CreateDirectory(folderPath);
                }

                var filePath = Path.Combine(folderPath, trustedFileNameForFileStorage);

                await using FileStream fs = new(filePath, FileMode.Create);
                await file.OpenReadStream().CopyToAsync(fs);
                string correctedFilePath = Path.Combine("css/Development", "HTL_Reports", trustedFileNameForFileStorage);
                Invoices.InvoiceFilePath = correctedFilePath.Replace("\\", "/");
                toastService.ShowSuccess($"File {trustedFileNameForFileStorage} Upload Success");
            }
            catch (Exception ex)
            {
                toastService.ShowError($"Error : {ex.Message}");
            }

        }


    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            try
            {
                // var Login2 = await API.GetRequest($"Authenticate/Authentication");
                // var useraccount2 = JsonSerializer.Deserialize<GetLogin>(Login2);

                if (_tabs != null)
                {
                    await _tabs.InnerElementReference.FocusAsync();


                    _activeTab = _tab1;
                    _tabsCount = _tabs.TabCount;
                    TabHeading = "01- General Details";
                    StateHasChanged();
                }

            }
            catch (Exception ex)
            {
                string e = ex.Message;
            }

        }
    }

    private async Task SavePreview()
    {
        try
        {
            if (Invoices.InvoiceFilePath == null)
            {
                toastService.ShowWarning("Please Attach file");
                return;
            }
            else
            {
                IsLoading = true;
                IsLoading = false;
                Invoices.IsView = "View";
                string jsonString = JsonSerializer.Serialize(Invoices);

                // Encode the JSON string as Base64 to make it URL-safe
                string base64EncodedJson = Convert.ToBase64String(Encoding.UTF8.GetBytes(jsonString));

                // Encode the Base64 string to make it URL-safe
                string encodedJson = HttpUtility.UrlEncode(base64EncodedJson);

                // Navigate to the destination page with the encoded JSON string as a query parameter
                NavigationManager.NavigateTo($"/invoicedisplay?json={encodedJson}");
            }
        }
        catch (Exception ex)
        {
            toastService.ShowError($"Error : {ex.Message}");
        }
    }

    private bool AreAllFieldsFilledInChamber(Ship_Chamber chamber)
    {
        return chamber.ChamberQuantity != 0 && chamber.LorryDip != 0 && chamber.Quantity != 0 && Invoices.ShippingDetail.TempF != 0 && Invoices.ShippingDetail.SG != 0;
    }
    private bool AreAllFieldsFilledInReceivingChamber(Recieve_Chamber chamber)
    {
        return chamber.ChamberQuantity != 0 && chamber.LorryDip != 0 && chamber.Quantity != 0 && Invoices.ReceivingDetail.TempF != 0 && Invoices.ReceivingDetail.SG != 0;
    }
    private void NextTab()
    {
        try
        {
            Dictionary<int, string> tabHeadings = new Dictionary<int, string>()
 {
     { 5, "06- Upload Invoice Image" },
     { 0, "01- General Details" },
     { 1, "02- Shipping Details" },
     { 2, "03- Receiving Details" },
     { 3, "04- Shortage Calculation" },
     { 4, "05- Calculation Diff" }
 };

            var currentIndex = _tabs.Tabs.ToList().IndexOf(_activeTab);
            var nextIndex = (currentIndex + 1) % _tabsCount;

            if (currentIndex == 0 && Invoices.Details.TankLorryNO != null)
            {
                if (Invoices.IsFromDisplay && AreAllFieldsFilledInChamber(Invoices.ShippingDetail.Chamber1))
                {
                    DisableChamber1 = false;
                }
                if (Invoices.IsFromDisplay && AreAllFieldsFilledInChamber(Invoices.ShippingDetail.Chamber2))
                {
                    DisableChamber2 = false;
                }
                if (Invoices.IsFromDisplay && AreAllFieldsFilledInChamber(Invoices.ShippingDetail.Chamber3))
                {
                    DisableChamber3 = false;
                }
                if (Invoices.IsFromDisplay && AreAllFieldsFilledInChamber(Invoices.ShippingDetail.Chamber4))
                {
                    DisableChamber4 = false;
                }
                if (Invoices.IsFromDisplay && AreAllFieldsFilledInChamber(Invoices.ShippingDetail.Chamber5))
                {
                    DisableChamber5 = false;
                }
            }
            else if (Invoices.Details.TankLorryNO == null)
            {
                toastService.ShowWarning("Tank Lorry Number is Manadatory");
                return;
            }

            if (currentIndex == 1)
            {

                if (DisableChamber1 && DisableChamber2 && DisableChamber3 && DisableChamber4 && DisableChamber5)
                {
                    toastService.ShowError("Please Select Chamber");
                    return;
                }
                if (!DisableChamber1 && !AreAllFieldsFilledInChamber(Invoices.ShippingDetail.Chamber1))
                {
                    toastService.ShowError("Please insert all fields in Chamber 1");
                    return;
                }
                else if (!DisableChamber2 && !AreAllFieldsFilledInChamber(Invoices.ShippingDetail.Chamber2))
                {
                    toastService.ShowError("Please insert all fields in Chamber 2");
                    return;
                }
                else if (!DisableChamber3 && !AreAllFieldsFilledInChamber(Invoices.ShippingDetail.Chamber3))
                {
                    toastService.ShowError("Please insert all fields in Chamber 3");
                    return;
                }
                else if (!DisableChamber4 && !AreAllFieldsFilledInChamber(Invoices.ShippingDetail.Chamber4))
                {
                    toastService.ShowError("Please insert all fields in Chamber 4");
                    return;
                }
                else if (!DisableChamber5 && !AreAllFieldsFilledInChamber(Invoices.ShippingDetail.Chamber5))
                {
                    toastService.ShowError("Please insert all fields in Chamber 5");
                    return;
                }


            }
            else if (currentIndex == 2)
            {
                try
                {
                    if (!CalculateShortageForChamber1(Invoices))
                    {
                        return;
                    }

                    if (!CalculateShortageForChamber2(Invoices))
                    {
                        return;
                    }

                    if (!CalculateShortageForChamber3(Invoices))
                    {
                        return;
                    }

                    if (!CalculateShortageForChamber4(Invoices))
                    {
                        return;
                    }

                    if (!CalculateShortageForChamber5(Invoices))
                    {
                        return;
                    }

                    float ReceivingTempF = Invoices.ReceivingDetail.TempF;
                    float ShippingTempF = Invoices.ShippingDetail.TempF;

                    float Total = ReceivingTempF - ShippingTempF;
                    float ReceivingTemp = Math.Abs((float)Math.Round(Total));
                    Invoices.CalculationDifference.TempDiff = ReceivingTemp;


                    float TotalChamberQuantityS = Invoices.ShippingDetail.Chamber1.ChamberQuantity + Invoices.ShippingDetail.Chamber2.ChamberQuantity +
                    Invoices.ShippingDetail.Chamber3.ChamberQuantity + Invoices.ShippingDetail.Chamber4.ChamberQuantity +
                    Invoices.ShippingDetail.Chamber5.ChamberQuantity;
                    float TotalChamberQuantityR = Invoices.ReceivingDetail.Chamber1.ChamberQuantity + Invoices.ReceivingDetail.Chamber2.ChamberQuantity +
               Invoices.ReceivingDetail.Chamber3.ChamberQuantity + Invoices.ReceivingDetail.Chamber4.ChamberQuantity +
               Invoices.ReceivingDetail.Chamber5.ChamberQuantity;

                    float TotalShortageLTRdip = Math.Abs(TotalChamberQuantityR - TotalChamberQuantityS);
                    Invoices.CalculationDifference.TotalShortageByDip = TotalShortageLTRdip;

                    #region Required Formula Reconsideration

                    //       float TotalQuantity85S = Invoices.ShippingDetail.Chamber1.Quantity + Invoices.ShippingDetail.Chamber2.Quantity +
                    // Invoices.ShippingDetail.Chamber3.Quantity + Invoices.ShippingDetail.Chamber4.Quantity +
                    // Invoices.ShippingDetail.Chamber5.Quantity;
                    //       float TotalQuantity85R = Invoices.ReceivingDetail.Chamber1.Quantity + Invoices.ReceivingDetail.Chamber2.Quantity +
                    //  Invoices.ReceivingDetail.Chamber3.Quantity + Invoices.ReceivingDetail.Chamber4.Quantity +
                    //  Invoices.ReceivingDetail.Chamber5.Quantity;
                    float TotalQuantity85S = 40107f;
                    float TotalQuantity85R = 40053f;



                    #endregion

                    float ShortContratorCharge = Math.Abs(TotalQuantity85S - TotalQuantity85R);

                    Invoices.CalculationDifference.ShortageCharge = ShortContratorCharge;

                    float ShortOnTempExempt = Math.Abs(TotalShortageLTRdip - ShortContratorCharge);

                    Invoices.CalculationDifference.ShortOnTemp = ShortOnTempExempt;

                    float Shortage1F = ShortOnTempExempt / ReceivingTemp;

                    Invoices.CalculationDifference.Shortage1FTemp = (float)Math.Round(Shortage1F);

                    float QunatityShouldR = TotalChamberQuantityS - ShortOnTempExempt;
                    Invoices.CalculationDifference.QtyShouldRecieved = QunatityShouldR;
                }
                catch (Exception ex)
                {
                    toastService.ShowError($"Invalid calculations detected");
                }


            }


            TabHeading = tabHeadings[nextIndex];
            _activeTab = _tabs.Tabs.ElementAt(nextIndex);
        }
        catch (Exception ex)
        {
            toastService.ShowError($"Error occured");
        }

    }
    bool CalculateShortageForChamber1(Invoicing chamber)
    {
        if (!DisableChamber1 && !AreAllFieldsFilledInReceivingChamber(Invoices.ReceivingDetail.Chamber1))
        {
            toastService.ShowError($"Please insert all fields in Chamber 1");
            return false;
        }
        else if (!DisableChamber1 && AreAllFieldsFilledInReceivingChamber(Invoices.ReceivingDetail.Chamber1))
        {
            Invoices.ShortageCalculation.Chamber1.ShortageMM = Math.Abs(Invoices.ReceivingDetail.Chamber1.LorryDip - Invoices.ShippingDetail.Chamber1.LorryDip);
            float ShortMM = Invoices.ShortageCalculation.Chamber1.ShortageMM;
            float TotalChamberLtr = Invoices.ShippingDetail.Chamber1.ChamberQuantity;
            float Loading = Invoices.ShippingDetail.Chamber1.LorryDip;
            float LoadingDivision = (TotalChamberLtr / Loading);
            float Total = LoadingDivision * ShortMM;

            Invoices.ShortageCalculation.Chamber1.TotalShortageLtr = Math.Abs((int)Math.Round(Total));

        }
        return true;
    }
    bool CalculateShortageForChamber2(Invoicing chamber)
    {
        if (!DisableChamber2 && !AreAllFieldsFilledInReceivingChamber(Invoices.ReceivingDetail.Chamber2))
        {
            toastService.ShowError($"Please insert all fields in Chamber 2");
            return false;
        }
        else if (!DisableChamber2 && AreAllFieldsFilledInReceivingChamber(Invoices.ReceivingDetail.Chamber2))
        {
            Invoices.ShortageCalculation.Chamber2.ShortageMM = Math.Abs(Invoices.ReceivingDetail.Chamber2.LorryDip - Invoices.ShippingDetail.Chamber2.LorryDip);
            float ShortMM = Invoices.ShortageCalculation.Chamber2.ShortageMM;
            float TotalChamberLtr = Invoices.ShippingDetail.Chamber2.ChamberQuantity;
            float Loading = Invoices.ShippingDetail.Chamber2.LorryDip;
            float LoadingDivision = (TotalChamberLtr / Loading);
            float Total = LoadingDivision * ShortMM;

            Invoices.ShortageCalculation.Chamber2.TotalShortageLtr = Math.Abs((int)Math.Round(Total));
        }

        return true;
    }
    bool CalculateShortageForChamber3(Invoicing chamber)
    {
        if (!DisableChamber3 && !AreAllFieldsFilledInReceivingChamber(Invoices.ReceivingDetail.Chamber3))
        {
            toastService.ShowError($"Please insert all fields in Chamber 3");
            return false;
        }
        else if (!DisableChamber3 && AreAllFieldsFilledInReceivingChamber(Invoices.ReceivingDetail.Chamber3))
        {
            Invoices.ShortageCalculation.Chamber3.ShortageMM = Math.Abs(Invoices.ReceivingDetail.Chamber3.LorryDip - Invoices.ShippingDetail.Chamber3.LorryDip);
            float ShortMM = Invoices.ShortageCalculation.Chamber3.ShortageMM;
            float TotalChamberLtr = Invoices.ShippingDetail.Chamber3.ChamberQuantity;
            float Loading = Invoices.ShippingDetail.Chamber3.LorryDip;
            float LoadingDivision = (TotalChamberLtr / Loading);
            float Total = LoadingDivision * ShortMM;

            Invoices.ShortageCalculation.Chamber3.TotalShortageLtr = Math.Abs((int)Math.Round(Total));
        }
        return true;
    }
    bool CalculateShortageForChamber4(Invoicing chamber)
    {
        if (!DisableChamber4 && !AreAllFieldsFilledInReceivingChamber(Invoices.ReceivingDetail.Chamber4))
        {
            toastService.ShowError($"Please insert all fields in Chamber 4");
            return false;
        }
        else if (!DisableChamber4 && AreAllFieldsFilledInReceivingChamber(Invoices.ReceivingDetail.Chamber4))
        {
            Invoices.ShortageCalculation.Chamber4.ShortageMM = Math.Abs(Invoices.ReceivingDetail.Chamber4.LorryDip - Invoices.ShippingDetail.Chamber4.LorryDip);
            float ShortMM = Invoices.ShortageCalculation.Chamber4.ShortageMM;
            float TotalChamberLtr = Invoices.ShippingDetail.Chamber4.ChamberQuantity;
            float Loading = Invoices.ShippingDetail.Chamber4.LorryDip;
            float LoadingDivision = (TotalChamberLtr / Loading);
            float Total = LoadingDivision * ShortMM;

            Invoices.ShortageCalculation.Chamber4.TotalShortageLtr = Math.Abs((int)Math.Round(Total));
        }
        return true;
    }
    bool CalculateShortageForChamber5(Invoicing chamber)
    {
        if (!DisableChamber5 && !AreAllFieldsFilledInReceivingChamber(Invoices.ReceivingDetail.Chamber5))
        {
            toastService.ShowError($"Please insert all fields in Chamber 5");
            return false;
        }
        else if (!DisableChamber5 && AreAllFieldsFilledInReceivingChamber(Invoices.ReceivingDetail.Chamber5))
        {
            Invoices.ShortageCalculation.Chamber5.ShortageMM = Math.Abs(Invoices.ReceivingDetail.Chamber5.LorryDip - Invoices.ShippingDetail.Chamber5.LorryDip);
            float ShortMM = Invoices.ShortageCalculation.Chamber5.ShortageMM;
            float TotalChamberLtr = Invoices.ShippingDetail.Chamber5.ChamberQuantity;
            float Loading = Invoices.ShippingDetail.Chamber5.LorryDip;
            float LoadingDivision = (TotalChamberLtr / Loading);
            float Total = LoadingDivision * ShortMM;

            Invoices.ShortageCalculation.Chamber5.TotalShortageLtr = Math.Abs((int)Math.Round(Total));
        }
        return true;

    }



    private void PreviousTab()
    {
        Dictionary<int, string> tabHeadings = new Dictionary<int, string>()
    {

        { 0, "01- General Details" },
        { 1, "02- Shipping Details" },
        { 2, "03- Receiving Details" },
        { 3, "04- Shortage Calculation" },
        { 4, "05- Calculation Diff" },
        { 5, "06- Upload Invoice Image" }
    };

        var currentIndex = _tabs.Tabs.ToList().IndexOf(_activeTab);


        var nextIndex = currentIndex - 1;
        _activeTab = _tabs.Tabs.ElementAt(nextIndex);
        TabHeading = tabHeadings[nextIndex];
    }


    private async Task OnTabChanged(TabItem tab)
    {
        _activeTab = tab;
        var index = _tabs.Tabs.ToList().IndexOf(tab);
    }
}
