@page "/invoicepanel"
@using Majorsoft.Blazor.Components.Tabs
@using System.Linq;
@using VehicleManagement.Pages.Redirects;
@inject IWebHostEnvironment Environment
@inject IToastService toastService
@inject NavigationManager NavigationManager
<AuthorizeView>
    <Authorized>



        <Nav PageName="@TabHeading" />
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card mb-4">



                        <div class="card-body px-0 pt-0 pb-2">

                            <TabsPanel @ref="_tabs"
                                       ActiveColor="@_activeColor"
                                       InactiveColor="@_inactiveColor"
                                       HoverColor="@_hoverColor"
                                       ActiveTab="@_activeTab"
                                       TabItemsHeight="@_height"
                                       TabItemsWidth="@_width"
                                       Disabled="@_allTabsDisabled"
                                       TabPositon="@_tabPositon"
                                       Animate="@_isAnimated">
                                <TabItems>
                                    <TabItem id="tab1" @ref="_tab1">
                                        <Header><strong>General Details</strong></Header>
                                        <Content>
                                            <div class="col-md-12">
                                                <div class="card">

                                                    <div class="card-body">

                                                        <div class="row">

                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label for="example-text-input" class="form-control-label">STO No</label>
                                                                    <input type="text" placeholder="STO No" class="form-control">

                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label for="example-text-input" class="form-control-label">Filling Date</label>
                                                                    <input type="date" placeholder="Full Name" class="form-control">

                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label for="example-text-input" class="form-control-label">Shipping Location</label>
                                                                    <input type="text" placeholder="Contact" class="form-control">

                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label for="example-text-input" class="form-control-label">Receiving Location</label>
                                                                    <input type="text" placeholder="Designation" class="form-control">

                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label for="example-text-input" class="form-control-label">Product Name</label>
                                                                    <input type="text" placeholder="Designation" class="form-control">

                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label for="example-text-input" class="form-control-label">Driver Name</label>
                                                                    <input type="text" placeholder="Designation" class="form-control">

                                                                </div>
                                                            </div>


                                                            <div class="col-md-12" style="padding-top:10px;">
                                                                <div class="form-group" style="text-align:center;">
                                                                    <button class="btn btn-danger btn-sm ms-auto" @onclick="NextTab">Next</button>

                                                                </div>

                                                            </div>

                                                        </div>

                                                    </div>
                                                </div>
                                            </div>


                                        </Content>
                                    </TabItem>
                                    <TabItem @ref="_tab2">
                                        <Header><strong>Dispatch Details</strong></Header>
                                        <Content>
                                            <div class="col-md-12">
                                                <div class="card">

                                                    <div class="card-body">

                                                        <div class="row">

                                                            <div class="col-md-4" style="padding-top:5px;">
                                                                <div class="form-control">
                                                                    <div class="form-group">
                                                                        <label for="example-text-input" class="font-weight-bolder mb-0" style="color:black;">Chamber 1</label>


                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="example-text-input" class="form-control-label">Product Volume (ltr)</label>
                                                                        <input type="text" placeholder="Product Volume (ltr)" class="form-control">

                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="example-text-input" class="form-control-label">
                                                                            Product Dip (MM)
                                                                        </label>
                                                                        <input type="text" placeholder=" Product Dip (MM)" class="form-control">

                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="example-text-input" class="form-control-label">
                                                                            Ref Dip (MM)
                                                                        </label>
                                                                        <input type="text" placeholder="Ref Dip (MM)" class="form-control">

                                                                    </div>
                                                                </div>





                                                            </div>

                                                            <div class="col-md-4" style="padding-top:5px;">
                                                                <div class="form-control">
                                                                    <div class="form-group">
                                                                        <label for="example-text-input" class="font-weight-bolder mb-0" style="color:black;">Chamber 2</label>


                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="example-text-input" class="form-control-label">Product Volume (ltr)</label>
                                                                        <input type="text" placeholder="Product Volume (ltr)" class="form-control">

                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="example-text-input" class="form-control-label">
                                                                            Product Dip (MM)
                                                                        </label>
                                                                        <input type="text" placeholder=" Product Dip (MM)" class="form-control">

                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="example-text-input" class="form-control-label">
                                                                            Ref Dip (MM)
                                                                        </label>
                                                                        <input type="text" placeholder="Ref Dip (MM)" class="form-control">

                                                                    </div>
                                                                </div>





                                                            </div>

                                                            <div class="col-md-4" style="padding-top:5px;">
                                                                <div class="form-control">
                                                                    <div class="form-group">
                                                                        <label for="example-text-input" class="font-weight-bolder mb-0" style="color:black;">Chamber 3</label>


                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="example-text-input" class="form-control-label">Product Volume (ltr)</label>
                                                                        <input type="text" placeholder="Product Volume (ltr)" class="form-control">

                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="example-text-input" class="form-control-label">
                                                                            Product Dip (MM)
                                                                        </label>
                                                                        <input type="text" placeholder=" Product Dip (MM)" class="form-control">

                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="example-text-input" class="form-control-label">
                                                                            Ref Dip (MM)
                                                                        </label>
                                                                        <input type="text" placeholder="Ref Dip (MM)" class="form-control">

                                                                    </div>
                                                                </div>





                                                            </div>
                                                            <div class="col-md-4" style="padding-top:5px;">
                                                                <div class="form-control">
                                                                    <div class="form-group">
                                                                        <label for="example-text-input" class="font-weight-bolder mb-0" style="color:black;">Chamber 4</label>


                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="example-text-input" class="form-control-label">Product Volume (ltr)</label>
                                                                        <input type="text" placeholder="Product Volume (ltr)" class="form-control">

                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="example-text-input" class="form-control-label">
                                                                            Product Dip (MM)
                                                                        </label>
                                                                        <input type="text" placeholder=" Product Dip (MM)" class="form-control">

                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="example-text-input" class="form-control-label">
                                                                            Ref Dip (MM)
                                                                        </label>
                                                                        <input type="text" placeholder="Ref Dip (MM)" class="form-control">

                                                                    </div>
                                                                </div>





                                                            </div>

                                                            <div class="col-md-4" style="padding-top:5px;">
                                                                <div class="form-control">
                                                                    <div class="form-group">
                                                                        <label for="example-text-input" class="font-weight-bolder mb-0" style="color:black;">Chamber 5</label>


                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="example-text-input" class="form-control-label">Product Volume (ltr)</label>
                                                                        <input type="text" placeholder="Product Volume (ltr)" class="form-control">

                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="example-text-input" class="form-control-label">
                                                                            Product Dip (MM)
                                                                        </label>
                                                                        <input type="text" placeholder=" Product Dip (MM)" class="form-control">

                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="example-text-input" class="form-control-label">
                                                                            Ref Dip (MM)
                                                                        </label>
                                                                        <input type="text" placeholder="Ref Dip (MM)" class="form-control">

                                                                    </div>
                                                                </div>





                                                            </div>


                                                            <div class="col-md-12" style="padding-top:10px;">
                                                                <div class="form-group" style="text-align:center;">
                                                                    <button class="btn btn-danger btn-sm ms-auto" @onclick="NextTab">Next</button>
                                                                    <button class="btn btn-warning btn-sm ms-auto" @onclick="PreviousTab">Back</button>
                                                                </div>
                                                            </div>

                                                        </div>

                                                    </div>
                                                </div>
                                            </div>

                                        </Content>
                                    </TabItem>
                                    <TabItem id="tab3" @ref="_tab3">
                                        <Header><strong>Disptach Summary</strong></Header>
                                        <Content>
                                            <div class="col-md-12">
                                                <div class="card">

                                                    <div class="card-body">

                                                        <div class="row">

                                                            <div class="col-md-12">
                                                                <div class="form-group">
                                                                    <label for="example-text-input" class="font-weight-bolder mb-0" style="color:black;">
                                                                        Product:Petroleum Motor Gasoline - PMG
                                                                    </label>


                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label for="example-text-input" class="form-control-label">Quantity (Nat)</label>
                                                                    <input type="text" placeholder="Full Name" class="form-control">

                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label for="example-text-input" class="form-control-label">Quantity (L85)</label>
                                                                    <input type="text" placeholder="Contact" class="form-control">

                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label for="example-text-input" class="form-control-label">Temperature F</label>
                                                                    <input type="text" placeholder="Designation" class="form-control">

                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label for="example-text-input" class="form-control-label">S.G</label>
                                                                    <input type="text" placeholder="Designation" class="form-control">

                                                                </div>
                                                            </div>

                                                            <div class="col-md-12" style="padding-top:10px;">
                                                                <div class="form-group" style="text-align:center;">
                                                                    <button class="btn btn-danger btn-sm ms-auto" @onclick="NextTab">Next</button>
                                                                    <button class="btn btn-warning btn-sm ms-auto" @onclick="PreviousTab">Back</button>
                                                                </div>
                                                            </div>

                                                        </div>

                                                    </div>
                                                </div>
                                            </div>

                                        </Content>
                                    </TabItem>
                                    <TabItem id="tab4" @ref="_tab4">
                                        <Header><strong>Receiving Details</strong></Header>
                                        <Content>
                                            <div class="col-md-12">
                                                <div class="card">

                                                    <div class="card-body">

                                                        <div class="row">

                                                            <div class="col-md-4" style="padding-top:5px;">
                                                                <div class="form-control">
                                                                    <div class="form-group">
                                                                        <label for="example-text-input" class="font-weight-bolder mb-0" style="color:black;">Chamber 1</label>


                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="example-text-input" class="form-control-label">Product Volume (ltr)</label>
                                                                        <input type="text" placeholder="Product Volume (ltr)" class="form-control">

                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="example-text-input" class="form-control-label">
                                                                            Product Dip (MM)
                                                                        </label>
                                                                        <input type="text" placeholder=" Product Dip (MM)" class="form-control">

                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="example-text-input" class="form-control-label">
                                                                            Product Diff (MM)
                                                                        </label>
                                                                        <input type="text" placeholder="Product Diff (MM)" class="form-control">

                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="example-text-input" class="form-control-label">
                                                                            Prod. Difference (Ltrs.)

                                                                        </label>
                                                                        <input type="text" placeholder="Prod. Difference (Ltrs.)" class="form-control">

                                                                    </div>

                                                                </div>





                                                            </div>

                                                            <div class="col-md-4" style="padding-top:5px;">
                                                                <div class="form-control">
                                                                    <div class="form-group">
                                                                        <label for="example-text-input" class="font-weight-bolder mb-0" style="color:black;">Chamber 2</label>


                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="example-text-input" class="form-control-label">Product Volume (ltr)</label>
                                                                        <input type="text" placeholder="Product Volume (ltr)" class="form-control">

                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="example-text-input" class="form-control-label">
                                                                            Product Dip (MM)
                                                                        </label>
                                                                        <input type="text" placeholder=" Product Dip (MM)" class="form-control">

                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="example-text-input" class="form-control-label">
                                                                            Product Diff (MM)
                                                                        </label>
                                                                        <input type="text" placeholder="Product Diff (MM)" class="form-control">

                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="example-text-input" class="form-control-label">
                                                                            Prod. Difference (Ltrs.)

                                                                        </label>
                                                                        <input type="text" placeholder="Prod. Difference (Ltrs.)" class="form-control">

                                                                    </div>
                                                                </div>





                                                            </div>

                                                            <div class="col-md-4" style="padding-top:5px;">
                                                                <div class="form-control">
                                                                    <div class="form-group">
                                                                        <label for="example-text-input" class="font-weight-bolder mb-0" style="color:black;">Chamber 3</label>


                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="example-text-input" class="form-control-label">Product Volume (ltr)</label>
                                                                        <input type="text" placeholder="Product Volume (ltr)" class="form-control">

                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="example-text-input" class="form-control-label">
                                                                            Product Dip (MM)
                                                                        </label>
                                                                        <input type="text" placeholder=" Product Dip (MM)" class="form-control">

                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="example-text-input" class="form-control-label">
                                                                            Product Diff (MM)
                                                                        </label>
                                                                        <input type="text" placeholder="Product Diff (MM)" class="form-control">

                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="example-text-input" class="form-control-label">
                                                                            Prod. Difference (Ltrs.)

                                                                        </label>
                                                                        <input type="text" placeholder="Prod. Difference (Ltrs.)" class="form-control">

                                                                    </div>
                                                                </div>





                                                            </div>
                                                            <div class="col-md-4" style="padding-top:5px;">
                                                                <div class="form-control">
                                                                    <div class="form-group">
                                                                        <label for="example-text-input" class="font-weight-bolder mb-0" style="color:black;">Chamber 4</label>


                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="example-text-input" class="form-control-label">Product Volume (ltr)</label>
                                                                        <input type="text" placeholder="Product Volume (ltr)" class="form-control">

                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="example-text-input" class="form-control-label">
                                                                            Product Dip (MM)
                                                                        </label>
                                                                        <input type="text" placeholder=" Product Dip (MM)" class="form-control">

                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="example-text-input" class="form-control-label">
                                                                            Product Diff (MM)
                                                                        </label>
                                                                        <input type="text" placeholder="Product Diff (MM)" class="form-control">

                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="example-text-input" class="form-control-label">
                                                                            Prod. Difference (Ltrs.)

                                                                        </label>
                                                                        <input type="text" placeholder="Prod. Difference (Ltrs.)" class="form-control">

                                                                    </div>
                                                                </div>





                                                            </div>

                                                            <div class="col-md-4" style="padding-top:5px;">
                                                                <div class="form-control">
                                                                    <div class="form-group">
                                                                        <label for="example-text-input" class="font-weight-bolder mb-0" style="color:black;">Chamber 5</label>


                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="example-text-input" class="form-control-label">Product Volume (ltr)</label>
                                                                        <input type="text" placeholder="Product Volume (ltr)" class="form-control">

                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="example-text-input" class="form-control-label">
                                                                            Product Dip (MM)
                                                                        </label>
                                                                        <input type="text" placeholder=" Product Dip (MM)" class="form-control">

                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="example-text-input" class="form-control-label">
                                                                            Product Diff (MM)
                                                                        </label>
                                                                        <input type="text" placeholder="Product Diff (MM)" class="form-control">

                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="example-text-input" class="form-control-label">
                                                                            Prod. Difference (Ltrs.)

                                                                        </label>
                                                                        <input type="text" placeholder="Prod. Difference (Ltrs.)" class="form-control">

                                                                    </div>
                                                                </div>





                                                            </div>

                                                            <div class="col-md-12" style="padding-top:10px;">
                                                                <div class="form-group" style="text-align:center;">
                                                                    <button class="btn btn-danger btn-sm ms-auto" @onclick="NextTab">Next</button>
                                                                    <button class="btn btn-warning btn-sm ms-auto" @onclick="PreviousTab">Back</button>
                                                                </div>
                                                            </div>

                                                        </div>

                                                    </div>
                                                </div>
                                            </div>


                                        </Content>
                                    </TabItem>
                                    <TabItem id="tab5" @ref="_tab5">
                                        <Header>
                                            <strong>
                                                Receiving Summary
                                            </strong>
                                        </Header>
                                        <Content>
                                            <div class="col-md-12">
                                                <div class="card">

                                                    <div class="card-body">

                                                        <div class="row">

                                                            <div class="col-md-12">
                                                                <div class="form-group">
                                                                    <label for="example-text-input" class="font-weight-bolder mb-0" style="color:black;">
                                                                        Product:Petroleum Motor Gasoline - PMG
                                                                    </label>


                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label for="example-text-input" class="form-control-label">Quantity (Nat)</label>
                                                                    <input type="text" placeholder="Full Name" class="form-control">

                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label for="example-text-input" class="form-control-label">Quantity (L85)</label>
                                                                    <input type="text" placeholder="Contact" class="form-control">

                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label for="example-text-input" class="form-control-label">Temperature F</label>
                                                                    <input type="text" placeholder="Designation" class="form-control">

                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label for="example-text-input" class="form-control-label">S.G</label>
                                                                    <input type="text" placeholder="Designation" class="form-control">

                                                                </div>
                                                            </div>

                                                            <div class="col-md-12" style="padding-top:10px;">
                                                                <div class="form-group" style="text-align:center;">
                                                                    <button class="btn btn-danger btn-sm ms-auto" @onclick="NextTab">Next</button>
                                                                    <button class="btn btn-warning btn-sm ms-auto" @onclick="PreviousTab">Back</button>
                                                                </div>
                                                            </div>

                                                        </div>

                                                    </div>
                                                </div>
                                            </div>

                                        </Content>
                                    </TabItem>
                                    <TabItem id="tab6" @ref="_tab6">
                                        <Header><strong>Shortage Calculation</strong></Header>
                                        <Content>
                                            <div class="col-md-12">
                                                <div class="card">

                                                    <div class="card-body">

                                                        <div class="row">

                                                            <div class="col-md-4" style="padding-top:5px;">
                                                                <div class="form-control">
                                                                    <div class="form-group">
                                                                        <label for="example-text-input" class="font-weight-bolder mb-0" style="color:black;">
                                                                            Natural
                                                                        </label>


                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="example-text-input" class="form-control-label">
                                                                            Dispatched Qty.
                                                                        </label>
                                                                        <input type="text" placeholder="Dispatched Qty" class="form-control">

                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="example-text-input" class="form-control-label">
                                                                            Received Qty.
                                                                        </label>
                                                                        <input type="text" placeholder="Received Qty" class="form-control">

                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="example-text-input" class="form-control-label">
                                                                            Shortage in Ltrs.

                                                                        </label>
                                                                        <input type="text" placeholder="Shortage in Ltrs" class="form-control">

                                                                    </div>


                                                                </div>





                                                            </div>

                                                            <div class="col-md-4" style="padding-top:5px;">
                                                                <div class="form-control">
                                                                    <div class="form-group">
                                                                        <label for="example-text-input" class="font-weight-bolder mb-0" style="color:black;">85 °F</label>


                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="example-text-input" class="form-control-label">
                                                                            Dispatched Qty.
                                                                        </label>
                                                                        <input type="text" placeholder="Dispatched Qty" class="form-control">

                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="example-text-input" class="form-control-label">
                                                                            Received Qty.
                                                                        </label>
                                                                        <input type="text" placeholder="Received Qty" class="form-control">

                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="example-text-input" class="form-control-label">
                                                                            Shortage in Ltrs.

                                                                        </label>
                                                                        <input type="text" placeholder="Shortage in Ltrs" class="form-control">

                                                                    </div>

                                                                </div>





                                                            </div>

                                                            <div class="col-md-4" style="padding-top:5px;">
                                                                <div class="form-control">

                                                                    <div class="form-group">
                                                                        <label for="example-text-input" class="form-control-label">
                                                                            Shortage in MM
                                                                        </label>
                                                                        <input type="text" placeholder="Shortage in MM" class="form-control">

                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="example-text-input" class="form-control-label">
                                                                            Shortage Excempted on Temp °F

                                                                        </label>
                                                                        <input type="text" placeholder="Shortage Excempted on Temp °F" class="form-control">

                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="example-text-input" class="form-control-label">
                                                                            Shortage Charge to Carriage
                                                                        </label>
                                                                        <input type="text" placeholder="Shortage Charge to Carriage" class="form-control">

                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="example-text-input" class="form-control-label">
                                                                            Other Shortage

                                                                        </label>
                                                                        <input type="text" placeholder="Other Shortage" class="form-control">

                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="example-text-input" class="form-control-label">
                                                                            Total Shortage


                                                                        </label>
                                                                        <input type="text" placeholder="Total Shortage" class="form-control">

                                                                    </div>
                                                                </div>





                                                            </div>


                                                            <div class="col-md-12" style="padding-top:10px;">
                                                                <div class="form-group" style="text-align:center;">
                                                                    <button class="btn btn-danger btn-sm ms-auto" @onclick="NextTab">Next</button>
                                                                    <button class="btn btn-warning btn-sm ms-auto" @onclick="PreviousTab">Back</button>
                                                                </div>

                                                            </div>

                                                        </div>

                                                    </div>
                                                </div>
                                            </div>


                                        </Content>
                                    </TabItem>

                                    <TabItem id="tab7" @ref="_tab7">
                                        <Header><strong>Upload Hardcopy</strong></Header>
                                        <Content>
                                            <div class="col-md-12">
                                                <div class="card">

                                                    <div class="card-body">

                                                        <div class="row">

                                                            <div class="col-md-4" style="padding-top:5px;">
                                                                <div class="form-control">
                                                                    <div class="form-group">
                                                                        <label for="example-text-input" class="font-weight-bolder mb-0" style="color:black;">
                                                                            Upload Image
                                                                        </label>


                                                                    </div>
                                                                    <div class="form-group">

                                                                        <InputFile OnChange="@LoadFiles" />

                                                                    </div>



                                                                </div>





                                                            </div>




                                                            <div class="col-md-12" style="padding-top:10px;">
                                                                <div class="form-group" style="text-align:center;">
                                                                    <button class="btn btn-danger btn-sm ms-auto" @onclick="SavePreview">Save & Preview</button>
                                                                    <button class="btn btn-warning btn-sm ms-auto" @onclick="PreviousTab">Back</button>
                                                                </div>

                                                            </div>

                                                        </div>

                                                    </div>
                                                </div>
                                            </div>


                                        </Content>
                                    </TabItem>
                                </TabItems>
                            </TabsPanel>


                        </div>
                    </div>
                </div>
            </div>
        </div>

        <Loader isLoading="@IsLoading" />
    </Authorized>
    <NotAuthorized>
        <_403 />
    </NotAuthorized>
</AuthorizeView>



@code {
    private string TabHeading { get; set; }
    private string _activeColor = "White";
    private string _inactiveColor = "White";
    private string _hoverColor = "White";
    private int _width = 255;
    private int _height = 40;
    private TabPositons _tabPositon = TabPositons.Left;
    private bool _isAnimated = false;
    private bool _allTabsDisabled = false;
    private bool IsLoading = false;

    private bool _isTabHidden = false;

    private int _tabsCount;

    private TabsPanel _tabs;
    private TabItem _activeTab;
    private TabItem _tab1;
    private TabItem _tab2;
    private TabItem _tab3;
    private TabItem _tab4;
    private TabItem _tab5;
    private TabItem _tab6;
    private TabItem _tab7;

    private async Task LoadFiles(InputFileChangeEventArgs e)
    {


        foreach (var file in e.GetMultipleFiles())
        {
            try
            {


                var trustedFileNameForFileStorage = file.Name;
                var folderPath = Path.Combine(Environment.ContentRootPath,
                                               Environment.EnvironmentName, "HTL Reports");

                // Create the directory if it doesn't exist
                if (!Directory.Exists(folderPath))
                {
                    Directory.CreateDirectory(folderPath);
                }

                var filePath = Path.Combine(folderPath, trustedFileNameForFileStorage);

                await using FileStream fs = new(filePath, FileMode.Create);
                await file.OpenReadStream().CopyToAsync(fs);

                toastService.ShowSuccess($"File {trustedFileNameForFileStorage} Upload Success");
            }
            catch (Exception ex)
            {
                toastService.ShowError($"Error : {ex.Message}");
            }

        }


    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            try
            {
                if (_tabs != null)
                {
                    await _tabs.InnerElementReference.FocusAsync();


                    _activeTab = _tab1;
                    _tabsCount = _tabs.TabCount;
                    TabHeading = "01- General Details";
                    StateHasChanged();
                }

            }
            catch (Exception ex)
            {
                string e = ex.Message;
            }

        }
    }

    private async Task SavePreview()
    {
        IsLoading = true;
        // await Task.Delay(10000);
        IsLoading = false;
        NavigationManager.NavigateTo("/invoicedisplay");

    }


    private void NextTab()
    {


        // Get the index of the current active tab
        var currentIndex = _tabs.Tabs.ToList().IndexOf(_activeTab);
        if (currentIndex == 0)
        {
            TabHeading = "02- Dispatch Details";
        }
        else if (currentIndex == 1)
        {
            TabHeading = "03- Dispatch Summary";
        }
        else if (currentIndex == 2)
        {
            TabHeading = "04- Receiving Details";
        }
        else if (currentIndex == 3)
        {
            TabHeading = "05- Receiving Summary";
        }
        else if (currentIndex == 4)
        {
            TabHeading = "06- Shortage Calculation";
        }
        else if (currentIndex == 5)
        {
            TabHeading = "07- Upload Invoice Image";
        }
        else if (currentIndex == 6)
        {
            TabHeading = "01- General Details";
        }
        // Move to the next tab (or wrap around to the first tab if at the last tab)
        var nextIndex = (currentIndex + 1) % _tabsCount;

        // Set the next tab as active
        _activeTab = _tabs.Tabs.ElementAt(nextIndex);



    }
    private void PreviousTab()
    {
        // Get the index of the current active tab
        var currentIndex = _tabs.Tabs.ToList().IndexOf(_activeTab);
        if (currentIndex == 0)
        {
            TabHeading = "07- Upload Invoice Image";
            // TabHeading = "02- Dispatch Details";
        }
        else if (currentIndex == 1)
        {
            TabHeading = "01- General Details";
            // TabHeading = "03- Dispatch Summary";
        }
        else if (currentIndex == 2)
        {
            TabHeading = "02- Dispatch Details";
            // TabHeading = "04- Receiving Details";
        }
        else if (currentIndex == 3)
        {
            TabHeading = "03- Dispatch Summary";
            // TabHeading = "05- Receiving Summary";
        }
        else if (currentIndex == 4)
        {
            TabHeading = "04- Receiving Details";

        }
        else if (currentIndex == 5)
        {
            TabHeading = "05- Receiving Summary";
            // TabHeading = "01- General Details";
        }
        else if (currentIndex == 6)
        {
            TabHeading = "06- Shortage Calculation";
            // TabHeading = "01- General Details";
        }
        // Move to the next tab (or wrap around to the first tab if at the last tab)
        var nextIndex = currentIndex == 0 ? _tabs.Tabs.ToList().Count - 1 : (currentIndex - 1) % _tabsCount;

        // Set the next tab as active
        _activeTab = _tabs.Tabs.ElementAt(nextIndex);



    }

    private async Task OnTabChanged(TabItem tab)
    {
        _activeTab = tab;
        var index = _tabs.Tabs.ToList().IndexOf(tab);
    }
}